{"swagger":"2.0","info":{"version":"v1","title":"EMS Services"},"host":"botd-q-360iis-1.devop.vertafore.com","basePath":"/ems","schemes":["https"],"paths":{"/activities/policy":{"post":{"tags":["activities"],"summary":"Creates multiple policy activities.\r\nThose being activities/transactions associated to the Customer Entity Type and a PolicyId.","operationId":"POST/activities/policy","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"PolicyActivitiesPostRequest","in":"body","description":"The collection of models describing the new policy activities to create.","required":true,"schema":{"$ref":"#/definitions/PolicyActivitiesPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ActivityIdResponse"}}}}}},"/activity/actions":{"get":{"tags":["activities"],"summary":"Returns a list of non-hidden Actions.","description":"See RestModels.ActivityModel for usage.\r\nNote context is not actually required, added only for possible use in security in the future\r\nand makes sure the caller has at least an agency context.\r\nThe Activity and Suspense use the same list but each have an endpoint to make it easier for the user.","operationId":"GET/activity/actions","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ActionResponse"}}}}},"put":{"tags":["activities"],"summary":"Updates any/all existing ActivityActions by matching Id","description":"See RestModels.Activity.ActivityActionUpdateResponse for usage.\r\nNote context is not actually required, added only for possible use in security in the future\r\nand makes sure the caller has at least an agency context.","operationId":"PUT/activity/actions","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"List`1","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/ActivityActionPutRequest"}}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ActivityActionUpdateResponse"}}}}}},"/activity/agency-url/create":{"get":{"tags":["activities"],"summary":"Creates the Url to the appropriate Agency Activity page in 360","operationId":"GET/activity/agency-url/create","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"EntityType","in":"query","description":"The type of 360 Entity (e.g. Employee, Company, Customer).","required":true,"type":"string"},{"name":"EntityId","in":"query","description":"The Guid or Sequence No of the entity.","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ActivityUrlResponse"}}}}},"/activity/attachment":{"post":{"tags":["activities"],"summary":"POSTs a new Activity/Document Attachment by Activity/Transaction Id.","operationId":"POST/activity/attachment","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"AppendAttachmentPostRequest","in":"body","description":"The new Activity/Document attachment to be appended","required":true,"schema":{"$ref":"#/definitions/AppendAttachmentPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DocAttachmentIdResponse"}}}}},"/activity/attachment-data":{"get":{"tags":["activities"],"summary":"GETs a Activity/Document Attachment's stored Image Data by Image Id.\r\nIf the image data is compressed, it will be decompressed prior to being returned.","operationId":"GET/activity/attachment-data","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"DataId","in":"query","description":"The Attachment's stored Image Id to filter by.","required":false,"type":"string","format":"uuid"},{"name":"Base64Encode","in":"query","description":"If true, the response will be returned base64 encoded.","required":false,"type":"boolean"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DocAttachmentDataResponse"}}}}},"/activity/attachment-info":{"get":{"tags":["activities"],"summary":"GETs a Activity/Document Attachment's Details by Attachment Id.","operationId":"GET/activity/attachment-info","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"AttachmentId","in":"query","description":"The attachment ID to filter by.","required":false,"type":"string","format":"uuid"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/DocAttachmentResponse"}}}}}},"/activity/attachments/document-types":{"get":{"tags":["activities"],"summary":"Gets a list of available Document Types","operationId":"GET/activity/attachments/document-types","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DocTypeListResponse"}}}}},"/activity/claim":{"post":{"tags":["activities"],"summary":"Creates a Claim Activity.","operationId":"POST/activity/claim","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"ActivityClaimPostRequest","in":"body","description":"Claim activity to create","required":true,"schema":{"$ref":"#/definitions/ActivityClaimPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ActivityClaimResponse"}}}}},"/activity/comment":{"post":{"tags":["activities"],"summary":"POSTs a new Activity/Transaction Comment by Activity/Transaction Id.","operationId":"POST/activity/comment","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"ActivityCommentPostRequest","in":"body","description":"The new Activity/Transaction Comment to be added","required":true,"schema":{"$ref":"#/definitions/ActivityCommentPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ActivityCommentResponse"}}}}},"/activity/customer":{"post":{"tags":["activities"],"summary":"POSTs a Customer Activity.\r\nThat being an activity/transaction associated to the Customer Entity Type, but not a PolicyId.","operationId":"POST/activity/customer","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"CustomerActivityPostRequest","in":"body","description":"The POST request model for Policy Activity from the request body","required":true,"schema":{"$ref":"#/definitions/CustomerActivityPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ActivityIdResponse"}}}}},"/activity/customer/search":{"post":{"tags":["activities"],"summary":"Gets filtered customer activities based on the given search/filter criteria.","operationId":"POST/activity/customer/search","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"PagingRequest`1","in":"body","description":"The filter criteria used to search for customer activities.","required":true,"schema":{"$ref":"#/definitions/PagingRequest[CustomerActivitiesSearchPostRequest]"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagingResponse[CustomerActivityResponse]"}}}}},"/activity/e-docs":{"post":{"tags":["activities"],"summary":"Creates an activity from an EDocs model.","operationId":"POST/activity/e-docs","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"EdocsActivityPostRequest","in":"body","description":"EDocs Activity","required":true,"schema":{"$ref":"#/definitions/EdocsActivityPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EdocsActivityResponse"}},"400":{"description":"When model validation failed","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Internal Server Exception","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/activity/entity-types":{"get":{"tags":["activities"],"summary":"Returns a list of Entity Types used to associate an activity. For instance to a customer or Policy.","description":"See RestModels.ActivityModel for usage.\r\nNote context is not actually required, added only for possible use in security in the future\r\nand makes sure the caller has at least an agency context.\r\nThe Activity and Suspense use the same list but each have an endpoint to make it easier for the user.","operationId":"GET/activity/entity-types","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/EntityTypeResponse"}}}}}},"/activity/policy":{"get":{"tags":["activities"],"summary":"GETs a list of Policy Activities.\r\nThese are associated to the Customer Entity Type, and must have PolicyId.","operationId":"GET/activity/policy","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"PolicyId","in":"query","description":"The Policy Id to filter by.","required":false,"type":"string","format":"uuid"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/PolicyActivityResponse"}}}}},"post":{"tags":["activities"],"summary":"POSTs a Policy Activity.\r\nThat being an activity/transaction associated to the Customer Entity Type and a PolicyId.","operationId":"POST/activity/policy","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"PolicyActivityPostRequest","in":"body","description":"The POST request model for Policy Activity from the request body","required":true,"schema":{"$ref":"#/definitions/PolicyActivityPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ActivityIdResponse"}}}}},"/activity/claimActivity":{"post":{"tags":["activities"],"summary":"DEPRECATED: please use 'POST /activity/claim'","operationId":"POST/activity/claimActivity","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"ActivityClaimPostRequest","in":"body","description":"claim activity to create","required":true,"schema":{"$ref":"#/definitions/ActivityClaimPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"format":"uuid","type":"string","example":"00000000-0000-0000-0000-000000000000"}}},"deprecated":true}},"/activity/createUrl":{"get":{"tags":["activities"],"summary":"DEPRECATED: please use 'GET /activity/agency-url/create'","operationId":"GET/activity/createUrl","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"entityType","in":"query","description":"The type of 360 Entity (e.g. Employee, Company, Customer)","required":true,"type":"string"},{"name":"entityId","in":"query","description":"The Guid or Sequence No of the entity","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}},"deprecated":true}},"/activity/entityTypes":{"get":{"tags":["activities"],"summary":"DEPRECATED: please use 'GET /activity/entity-types'","description":"See RestModels.ActivityModel for usage.\r\nNote context is not actually required, added only for possible use in security in the future\r\nand makes sure the caller has at least an agency context.\r\nThe Activity and Suspense use the same list but each have an endpoint to make it easier for the user.","operationId":"GET/activity/entityTypes","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"string"}}}},"deprecated":true}},"/edocs/activity":{"post":{"tags":["activities"],"summary":"DEPRECATED: please use 'POST /activity/e-docs'","operationId":"POST/edocs/activity","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"EdocsActivityPostRequest","in":"body","description":"EDocs Activity","required":true,"schema":{"$ref":"#/definitions/EdocsActivityPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"format":"uuid","type":"string","example":"00000000-0000-0000-0000-000000000000"}},"400":{"description":"When model validation failed","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Internal Server Exception","schema":{"$ref":"#/definitions/ErrorResponse"}}},"deprecated":true}},"/agency/base-url":{"get":{"tags":["agency"],"summary":"Returns a string representing the base Url for an agency","operationId":"GET/agency/base-url","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AgencyUrlResponse"}}}}},"/agency/details":{"get":{"tags":["agency"],"summary":"Get agency's details","operationId":"GET/agency/details","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"AgencyNo","in":"query","description":"The agency number.","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AgencyResponse"}}}}},"/agency/download-info":{"get":{"tags":["agency"],"summary":"Get download information for an agency.","operationId":"GET/agency/download-info","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"title":"IHttpActionResult","type":"object"}}}},"post":{"tags":["agency"],"summary":"Updates Download Information for an agency.","operationId":"POST/agency/download-info","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"DownloadInformationPostRequest","in":"body","description":"Model containing identifiers used to update agency download information.","required":true,"schema":{"$ref":"#/definitions/DownloadInformationPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"title":"IHttpActionResult","type":"object"}}}}},"/agency/employees":{"get":{"tags":["agency"],"summary":"Gets active employees for the agency","operationId":"GET/agency/employees","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EmployeeListResponse"}}}}},"/agency/global-tenant-id":{"post":{"tags":["agency"],"summary":"Retrieves GlobalTenantId(GTID) from AgencyDB. If it does not exist in the DB then calls GlobalTenantId service to fetch the GTID.\r\nThe GTID is saved in Agency DB so further calls will just return the value from DB. \r\nThe value is saved in the DB only for agencies with version 18.1 and above.","operationId":"POST/agency/global-tenant-id","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"GlobalTenantIdPostRequest","in":"body","description":"Model contains the data required to fetch the GTID","required":true,"schema":{"$ref":"#/definitions/GlobalTenantIdPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GlobalTenantIdResponse"}}}}},"/agency/global-tenant-ids":{"get":{"tags":["agency"],"summary":"Retrieves all global tenant Ids for provided Ivans credentials. Ivans credentials should be passed in token.","operationId":"GET/agency/global-tenant-ids","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GlobalTenantIdsResponse"}},"400":{"description":"When request data parameters are not valid","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"When no GTIDs are found","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Server exception","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/agency/maintenance-windows":{"get":{"tags":["agency"],"summary":"Return the list of maintenance windows for the agency.","operationId":"GET/agency/maintenance-windows","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AgencyMaintenanceWindowsResponse"}}}}},"/agency/baseUrl":{"get":{"tags":["agency"],"summary":"DEPRECATED: please use 'GET /agency/base-url'","operationId":"GET/agency/baseUrl","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"string"}}},"deprecated":true}},"/agency/detail":{"get":{"tags":["agency"],"summary":"DEPRECATED: please use 'GET /agency/details'","operationId":"GET/agency/detail","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"agencyNo","in":"query","description":"Agency Number","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AgencyResponse"}}},"deprecated":true}},"/agency/downloadInfo":{"get":{"tags":["agency"],"summary":"DEPRECATED: please use 'GET /agency/download-info'","operationId":"GET/agency/downloadInfo","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"title":"IHttpActionResult","type":"object"}}},"deprecated":true},"post":{"tags":["agency"],"summary":"DEPRECATED: please use 'POST /agency/download-info'","operationId":"POST/agency/downloadInfo","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"DownloadInformationPostRequest","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/DownloadInformationPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"title":"IHttpActionResult","type":"object"}}},"deprecated":true}},"/agency/search":{"post":{"tags":["agency"],"summary":"DEPRECATED: please use 'POST /agencies'","operationId":"POST/agency/search","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"AgenciesPostRequest","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/AgenciesPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/AgencyResponse"}}}},"deprecated":true}},"/globalTenantId":{"post":{"tags":["agency"],"summary":"DEPRECATED: please use 'POST /global-tenant-id'","description":"Retrieves GlobalTenantId(GTID) from AgencyDB. If it does not exist in the DB then calls GlobalTenantId service to fetch the GTID based on \r\nfollowing parameters\r\n    1. AMSCustId\r\n    2. AgencyNo (InstanceId)\r\n    3. ApplicationId\r\nThe GTID is saved in Agency DB so further calls will just return the value from DB. \r\nThe value is saved in the DB only for agencies with version 18.1 and above.","operationId":"POST/globalTenantId","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"String","in":"body","description":"The data required to fetch the GTID","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}},"deprecated":true}},"/globalTenantId/getAllGTIDsByIvans":{"get":{"tags":["agency"],"summary":"DEPRECATED: please use 'GET /global-tenant-ids'","operationId":"GET/globalTenantId/getAllGTIDsByIvans","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"title":"Dictionary`2","type":"object","additionalProperties":{"type":"string"}}},"400":{"description":"When request data parameters are not valid","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"When no GTIDs are found","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Server exception","schema":{"$ref":"#/definitions/ErrorResponse"}}},"deprecated":true}},"/auth":{"post":{"tags":["authentication"],"summary":"The *new* first endpoint an EMS External User needs to hit to be authenticated\r\nGets a temporary loginKey when provided an applicationKey from an EMS External User. \r\nThe temporary loginKey is returned for use in a subsequent request to retrieve an accessToken.","operationId":"POST/auth","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"AuthAppKeyPostRequest","in":"body","description":"The secret app key that is configured in ACC for use by integrating applications requiring access to EMS.","required":true,"schema":{"$ref":"#/definitions/AuthAppKeyPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LoginKeyResponse"}}}}},"/auth/app/login":{"post":{"tags":["authentication"],"summary":"An endpoint that takes application's login credentials for validation.\r\nOnce the credentials are accepted, responds with a model containing tokens for temporary use of EMS.","operationId":"POST/auth/app/login","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"LoginPostRequest","in":"body","description":"A LoginRequestModel containing the login credentials to be validated","required":true,"schema":{"$ref":"#/definitions/LoginPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LoginResponse"}}}}},"/auth/user/login":{"post":{"tags":["authentication"],"summary":"An endpoint that takes a user's login credentials for validation.\r\nOnce the credentials are accepted, responds with a model containing tokens for temporary use of EMS.","operationId":"POST/auth/user/login","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"LoginPostRequest","in":"body","description":"A LoginRequestModel containing the login credentials to be validated","required":true,"schema":{"$ref":"#/definitions/LoginPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LoginResponse"}}}}},"/auth/vertafore-app/login":{"post":{"tags":["authentication"],"summary":"An endpoint that takes a Vertafore application's login credentials for validation.\r\nOnce the credentials are accepted, responds with a model containing tokens for temporary use of EMS.","operationId":"POST/auth/vertafore-app/login","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"LoginPostRequest","in":"body","description":"A model containing the login credentials to be validated","required":true,"schema":{"$ref":"#/definitions/LoginPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LoginResponse"}}}}},"/Auth":{"get":{"tags":["authentication"],"summary":"The first endpoint an EMS External User needs to hit to be authenticated\r\nGets an EMSLoginGuid when provided a secret key from an EMS External User. \r\nThe EMSLoginGuid is returned to for use with LoginAsUser","operationId":"GET/Auth","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"secretKey","in":"query","required":true,"type":"string","format":"uuid"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"title":"HttpResponseMessage","type":"object"}}},"deprecated":true}},"/auth/login":{"get":{"tags":["authentication"],"summary":"The second endpoint an EMS External User needs to hit to be authenticated\r\nReturns a JWT access token and refresh token for the external user to use in future requests\r\nEndpoint is used for both Native and VSSO authentication","operationId":"GET/auth/login","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"loginGuid","in":"query","required":true,"type":"string","format":"uuid"},{"name":"agencyNumber","in":"query","required":true,"type":"string"},{"name":"username","in":"query","required":true,"type":"string"},{"name":"password","in":"query","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LoginResponse"}}},"deprecated":true}},"/auth/loginApp":{"post":{"tags":["authentication"],"summary":"DEPRECATED: please use 'POST /auth/app/login'","operationId":"POST/auth/loginApp","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"LoginPostRequest","in":"body","description":"A LoginRequestModel containing the login credentials to be validated","required":true,"schema":{"$ref":"#/definitions/LoginPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LoginResponse"}}},"deprecated":true}},"/auth/loginUser":{"post":{"tags":["authentication"],"summary":"DEPRECATED: please use 'POST /auth/user/login'","operationId":"POST/auth/loginUser","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"LoginPostRequest","in":"body","description":"A LoginRequestModel containing the login credentials to be validated","required":true,"schema":{"$ref":"#/definitions/LoginPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LoginResponse"}}},"deprecated":true}},"/auth/loginVertaforeApp":{"post":{"tags":["authentication"],"summary":"DEPRECATED: please use 'POST /auth/vertafore-app/login'","operationId":"POST/auth/loginVertaforeApp","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"LoginPostRequest","in":"body","description":"A model containing the login credentials to be validated","required":true,"schema":{"$ref":"#/definitions/LoginPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LoginResponse"}}},"deprecated":true}},"/auth/refresh":{"get":{"tags":["authentication"],"summary":"Endpoint used to \"refresh\" access tokens\r\nIf provided a set of valid access and refresh tokens, a new access token will be returned","operationId":"GET/auth/refresh","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"RefreshToken","in":"query","description":"This is the refresh Token that is in the model returned by the call to login.","required":true,"type":"string","format":"uuid"},{"name":"AccessToken","in":"query","description":"This is the expired JWT or accessJwt token in the model returned by the call to login.","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"title":"HttpResponseMessage","type":"object"}}},"deprecated":true},"post":{"tags":["authentication"],"summary":"an endpoint that \"refreshes\" an expired access token\r\nIf provided with a set of valid access and refresh tokens, a new Access Token will be returned","operationId":"POST/auth/refresh","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"AuthRefreshPostRequest","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/AuthRefreshPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AccessJwtResponse"}}}}},"/bank-accounts":{"get":{"tags":["bank-accounts"],"summary":"Gets all banks that are enabled to be shown","operationId":"GET/bank-accounts","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"ShowHidden","in":"query","description":"List banks that are hidden when true.","required":false,"type":"boolean"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/BankAccountResponse"}}}}}},"/Banks":{"get":{"tags":["bank-accounts"],"summary":"DEPRECATED: please use 'GET /bank-accounts'","operationId":"GET/Banks","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"showHidden","in":"query","description":"List banks that are hidden when true","required":false,"type":"boolean"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/BankAccountResponse"}}}},"deprecated":true}},"/brokers":{"get":{"tags":["brokers"],"summary":"Gets a list of all brokers with pagination options.","operationId":"GET/brokers","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"Skip","in":"query","description":"Record offset. Defaults to zero.","required":false,"type":"integer","format":"int32"},{"name":"Top","in":"query","description":"Maximum records in a page.","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagingResponse[BrokerResponse]"}}}}},"/brokers/search":{"post":{"tags":["brokers"],"summary":"Gets a list of search-filtered brokers with pagination options.","operationId":"POST/brokers/search","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"PagingRequest`1","in":"body","description":"Contains the search parameters and pagination options.","required":true,"schema":{"$ref":"#/definitions/PagingRequest[BrokersSearchPostRequest]"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagingResponse[BrokerResponse]"}}}}},"/business-units/business-units-in-group/{buGroupId}":{"get":{"tags":["business-units"],"summary":"Gets business units","operationId":"GET/business-units/business-units-in-group/{buGroupId}","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"buGroupId","in":"path","description":"The business unit group identifier","required":true,"type":"string","format":"uuid"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/BusinessUnitResponse"}}}}}},"/business-units/employee/divisions":{"get":{"tags":["business-units"],"summary":"Get business unit divisions that an employee has access to","operationId":"GET/business-units/employee/divisions","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/BusinessUnitDivisionResponse"}}}}}},"/business-units/groups":{"get":{"tags":["business-units"],"summary":"Getting business unit access groups","operationId":"GET/business-units/groups","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/BusinessUnitAccessGroupResponse"}}}}}},"/businessUnit/businessUnitsInGroup/{buUnitGroupId}":{"get":{"tags":["business-units"],"summary":"DEPRECATED: please use 'GET /business-units/business-units-in-group/{buGroupId}'","operationId":"GET/businessUnit/businessUnitsInGroup/{buUnitGroupId}","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"buUnitGroupId","in":"path","description":"The business unit group identifier","required":true,"type":"string","format":"uuid"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/BusinessUnitResponse"}}}},"deprecated":true}},"/businessUnit/groups":{"get":{"tags":["business-units"],"summary":"DEPRECATED: please use 'GET /business-units/groups'","operationId":"GET/businessUnit/groups","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/BusinessUnitAccessGroupResponse"}}}},"deprecated":true}},"/companies":{"get":{"tags":["companies"],"summary":"Gets all companies that are enabled to be shown","operationId":"GET/companies","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"CompanyCode","in":"query","description":"The 3 character code of the Company you want to return instead of all companies.","required":false,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/CompanyResponse"}}}}}},"/companies/addresses":{"get":{"tags":["companies"],"summary":"Gets all company addresses","operationId":"GET/companies/addresses","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"CompanyCode","in":"query","description":"The 3 character code of the Company you want to filter by.","required":false,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/CompanyAddressResponse"}}}}}},"/companyAddresses":{"get":{"tags":["companies"],"summary":"DEPRECATED: please use 'GET /companies/addresses'","operationId":"GET/companyAddresses","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"companyCode","in":"query","description":"The 3 character code of the Company you want to filter by","required":false,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/CompanyAddressResponse"}}}},"deprecated":true}},"/sms/conversations/{contactPhone}/status":{"post":{"tags":["conversations (sms)"],"summary":"Sets the status of a conversation in the AMS360 db","operationId":"POST/sms/conversations/{contactPhone}/status","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"ConversationStatusPostRequest","in":"body","description":"Model containing data for updating the status of a conversation.","required":true,"schema":{"$ref":"#/definitions/ConversationStatusPostRequest"}},{"name":"contactPhone","in":"path","description":"The contact phone number of the conversation to be modified.","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ConversationResponse"}}}}},"/sms/conversations/count":{"get":{"tags":["conversations (sms)"],"summary":"Returns the count of conversations available for the user","operationId":"GET/sms/conversations/count","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ConversationCountResponse"}}}}},"/agencies":{"post":{"tags":["agency"],"summary":"Gets list of agencies from SiteDB based on AgencyNo or AgencyName","operationId":"POST/agencies","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"AgenciesPostRequest","in":"body","description":"Agency search parameters.","required":true,"schema":{"$ref":"#/definitions/AgenciesPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/AgencyResponse"}}}}}},"/customer-agencies/agency-details":{"get":{"tags":["customer-agencies"],"summary":"Returns Customer Agency data from SiteDB","operationId":"GET/customer-agencies/agency-details","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/CustomerAgencyDetailResponse"}}}}}},"/customer-agencies/search":{"post":{"tags":["customer-agencies"],"summary":"Returns paginated Customer Agency information from SiteDB","operationId":"POST/customer-agencies/search","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"PagingRequest`1","in":"body","description":"Criteria object to search/filter information on.","required":true,"schema":{"$ref":"#/definitions/PagingRequest[CustomerAgencySearchPostRequest]"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagingResponse[CustomerAgencyDetailResponse]"}}}}},"/customer/basic-info":{"put":{"tags":["customers"],"summary":"Updates an existing Customer if the Id or number are present in the post model based on basic information supplied","description":"If both Customer Id and Number are supplied in the post request model, the Customer Id will be used.","operationId":"PUT/customer/basic-info","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"CustomerBasicInfoPutRequest","in":"body","description":"Model containing the customer data.","required":true,"schema":{"$ref":"#/definitions/CustomerBasicInfoPutRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CustomerIdResponse"}}}},"post":{"tags":["customers"],"summary":"Creates a new Customer based on basic information supplied","operationId":"POST/customer/basic-info","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"CustomerBasicInfoPostRequest","in":"body","description":"Model containing the customer data.","required":true,"schema":{"$ref":"#/definitions/CustomerBasicInfoPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CustomerIdResponse"}}}}},"/customer/contacts":{"get":{"tags":["customers"],"summary":"Gets all customers with contacts for an agency. Can be based on Customer Id or Number","operationId":"GET/customer/contacts","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"CustomerId","in":"query","description":"Optional. Filters returned results to only include those with a matching customer Id.","required":false,"type":"string","format":"uuid"},{"name":"CustomerNumber","in":"query","description":"Optional. Filters returned results to only include those with a matching customer number.","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/CustomerContactResponse"}}}}}},"/customers":{"get":{"tags":["customers"],"summary":"Gets all customers for an agency including Prospects, Suspects and Customers","operationId":"GET/customers","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"CustomerNumber","in":"query","description":"Optional. Filters returned results to only include those with a matching customer number.","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CustomerListResponse"}}}}},"/customers/{contactPhone}":{"get":{"tags":["customers"],"summary":"Get customer information based on phone number","operationId":"GET/customers/{contactPhone}","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"contactPhone","in":"path","description":"The phone number to search by","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CustomerListResponse"}}}}},"/customers/{contactPhone}/cache":{"get":{"tags":["customers"],"summary":"This will trigger to update ContactPhoneCache table.","description":"Note: This method is used only for backward compatibility for 16r2 agencies.","operationId":"GET/customers/{contactPhone}/cache","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"contactPhone","in":"path","description":"The phone number to update","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/CustomerResponse"}}}}}},"/customers/search":{"post":{"tags":["customers"],"summary":"Gets all basic information for customers, prospects and suspects for an agency","description":"If both Customer Id and Number are supplied for the filter, the Customer Id will be used.","operationId":"POST/customers/search","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"PagingRequest`1","in":"body","description":"Model containing data used to get all customers or filter by customer number or Id.","required":true,"schema":{"$ref":"#/definitions/PagingRequest[CustomerFilterPostRequest]"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagingResponse[CustomerBasicInfoResponse]"}}}}},"/customers/vim-users/{vimUserId}":{"get":{"tags":["customers"],"summary":"Gets customers accessible to an employee based on VimUserId\r\napplies employee and business unit security","operationId":"GET/customers/vim-users/{vimUserId}","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"vimUserId","in":"path","description":"VSSO Id of the user","required":true,"type":"integer","format":"int32"},{"name":"Skip","in":"query","description":"Record offset. Defaults to zero.","required":false,"type":"integer","format":"int32"},{"name":"Top","in":"query","description":"Maximum records in a page.","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagingResponse[CustomerResponse]"}}}}},"/sms/conversations":{"get":{"tags":["conversations (sms)"],"summary":"Gets the conversations available to the user","operationId":"GET/sms/conversations","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"DateFrom","in":"query","description":"An option parameter that, if provided, restricts the returned conversations to only those that have changed since this datetime.","required":false,"type":"string","format":"date-time"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ConversationResponse"}}}}}},"/customers/info":{"get":{"tags":["customers"],"summary":"DEPRECATED: Please use Post /customers/search\r\nGets all customers with addresses and phones for an agency.","operationId":"GET/customers/info","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/CustomerAdditionalInfoResponse"}}}},"deprecated":true}},"/sms/{contactPhone}/cache":{"get":{"tags":["customers"],"summary":"DEPRECATED: please use 'GET /customers/{contactPhone}/cache'","description":"Note: This method is used only for backward compatibility for 16r2 agencies.","operationId":"GET/sms/{contactPhone}/cache","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"contactPhone","in":"path","description":"The phone number to update","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/CustomerResponse"}}}},"deprecated":true}},"/sms/conversations/{contactPhone}/customers":{"get":{"tags":["customers"],"summary":"DEPRECATED: please use 'GET /customers/{contactPhone}'","operationId":"GET/sms/conversations/{contactPhone}/customers","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"contactPhone","in":"path","description":"The phone number to search by","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CustomerListResponse"}}},"deprecated":true}},"/vimUsers/{vimUserId}/customers":{"get":{"tags":["customers"],"summary":"DEPRECATED: please use 'GET /customers/vim-users/{vimUserId}'","operationId":"GET/vimUsers/{vimUserId}/customers","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"vimUserId","in":"path","description":"VSSO Id of the user","required":true,"type":"integer","format":"int32"},{"name":"Skip","in":"query","description":"Record offset. Defaults to zero.","required":false,"type":"integer","format":"int32"},{"name":"Top","in":"query","description":"Maximum records in a page.","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagingResponse[CustomerResponse]"}}},"deprecated":true}},"/download/ivans/accounts":{"get":{"tags":["download"],"summary":"Get all accounts","operationId":"GET/download/ivans/accounts","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"title":"IHttpActionResult","type":"object"}}}},"post":{"tags":["download"],"summary":"Update multiple Ivans accounts","operationId":"POST/download/ivans/accounts","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"IEnumerable`1","in":"body","description":"Collection of accounts to update.","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/IvansAccountPostRequest"}}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"title":"IHttpActionResult","type":"object"}}}}},"/e-forms/active-forms":{"get":{"tags":["e-forms"],"summary":"Gets a list of form information models for all active editions","operationId":"GET/e-forms/active-forms","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"LatestOnly","in":"query","description":"True to return only the latest editions of the forms, false return all active editions. The default is false.","required":false,"type":"boolean"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/AcordFormInfoResponse"}}}}}},"/e-forms/form-data":{"post":{"tags":["e-forms"],"summary":"Returns the requested data file for an ACORD eForm","operationId":"POST/e-forms/form-data","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"AcordDataPostRequest","in":"body","description":"A data request model used to identify the form data to create.","required":true,"schema":{"$ref":"#/definitions/AcordDataPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AcordFormResponse"}}}}},"/e-forms/resource":{"get":{"tags":["e-forms"],"summary":"Gets the requested resource file","operationId":"GET/e-forms/resource","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"ResourceName","in":"query","description":"Name of the eform resource.","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EformsDataResponse"}}}}},"/eform/activeFormList":{"get":{"tags":["e-forms"],"summary":"DEPRECATED: please use 'GET /e-forms/active-forms'","operationId":"GET/eform/activeFormList","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"latestOnly","in":"query","description":"True to return only the latest editions of the forms, false return all active editions. The default is false.","required":false,"type":"boolean"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/AcordFormInfoResponse"}}}},"deprecated":true}},"/eform/resource":{"get":{"tags":["e-forms"],"summary":"DEPRECATED: please use 'GET /e-forms/resource'","operationId":"GET/eform/resource","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"resourceName","in":"query","description":"Name of the eform resource","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EformsDataResponse"}}},"deprecated":true}},"/employee/commission-setup":{"post":{"tags":["employees"],"summary":"Creates or updates an employee commission setup.","operationId":"POST/employee/commission-setup","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"CommissionSetupPostRequest","in":"body","description":"Contains the identifiers that represent a new or existing employee commission setup.","required":true,"schema":{"$ref":"#/definitions/CommissionSetupPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CommissionSetupResponse"}}}},"delete":{"tags":["employees"],"summary":"DELETES an employee commission setup.","operationId":"DELETE/employee/commission-setup","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"CommissionSetupId","in":"query","description":"The Commission setup Id to filter by for delete.","required":true,"type":"string","format":"uuid"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DeleteGenericResponse"}}}}},"/employee/commission-setup/search":{"post":{"tags":["employees"],"summary":"GETs Employee commission setup by Employee Code.","operationId":"POST/employee/commission-setup/search","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"PagingRequest`1","in":"body","description":"Contains the search parameters and pagination options.","required":true,"schema":{"$ref":"#/definitions/PagingRequest[CommissionSetupSearchPostRequest]"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagingResponse[CommissionSetupResponse]"}}}}},"/error-logs/create":{"post":{"tags":["error-logs"],"summary":"Posts an ErrorLog","operationId":"POST/error-logs/create","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"ErrorLogCreatePostRequest","in":"body","description":"ErrorLog request object","required":true,"schema":{"$ref":"#/definitions/ErrorLogCreatePostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"title":"IHttpActionResult","type":"object"}}}}},"/error-logs/search":{"post":{"tags":["error-logs"],"summary":"Get logs from AFW_EventLog table","description":"AFW_EventLog exists only in 20r1 and newer databases","operationId":"POST/error-logs/search","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"PagingRequest`1","in":"body","description":"Filters for the search","required":true,"schema":{"$ref":"#/definitions/PagingRequest[ErrorLogsPostRequest]"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagingResponse[ErrorLogsResponse]"}},"400":{"description":"Model validation failed","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Internal Server Exception","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/error-logs":{"post":{"tags":["error-logs"],"summary":"DEPRECATED: please use 'POST /error-logs/search'","description":"This endpoint only returns the top 500 results.\r\nFor more control over this amount, use the non-deprecated version of this endpoint.","operationId":"POST/error-logs","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"ErrorLogsPostRequest","in":"body","description":"Filters for the search","required":true,"schema":{"$ref":"#/definitions/ErrorLogsPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorLogsResponse"}}},"400":{"description":"When model validation failed","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Internal Server Exception","schema":{"$ref":"#/definitions/ErrorResponse"}}},"deprecated":true}},"/errorLogs":{"post":{"tags":["error-logs"],"summary":"DEPRECATED: please use 'POST /error-logs/search'","description":"This endpoint only returns the top 500 results.\r\nFor more control over this amount, use the non-deprecated version of this endpoint.","operationId":"POST/errorLogs","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"ErrorLogsPostRequest","in":"body","description":"Filters for the search","required":true,"schema":{"$ref":"#/definitions/ErrorLogsPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorLogsResponse"}}},"400":{"description":"When model validation failed","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Internal Server Exception","schema":{"$ref":"#/definitions/ErrorResponse"}}},"deprecated":true}},"/external-references":{"get":{"tags":["external-references"],"summary":"Get ExternalReference object based on ID","description":"Matches on ExternalReferenceID","operationId":"GET/external-references","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"ExternalReferenceId","in":"query","description":"Unique identifier for external reference record","required":true,"type":"string","format":"uuid"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ExternalReferenceResponse"}}}}},"/external-references/agency":{"get":{"tags":["external-references"],"summary":"Get ExternalReference objects based on Agency","operationId":"GET/external-references/agency","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"ExternalReferenceName","in":"query","description":"Name of the external entity key","required":false,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ExternalReferenceListResponse"}}}},"put":{"tags":["external-references"],"summary":"Add/Update ExternalReference for Agency","operationId":"PUT/external-references/agency","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"ExternalReferenceAgencyPutRequest","in":"body","description":"ExternalReference to add/update","required":true,"schema":{"$ref":"#/definitions/ExternalReferenceAgencyPutRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ExternalReferenceIdResponse"}}}}},"/external-references/employee":{"get":{"tags":["external-references"],"summary":"Get ExternalReference objects based on Employee detail","description":"Matches on EmpCode on AFW_Employee","operationId":"GET/external-references/employee","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"EmployeeCode","in":"query","description":"EmployeeCode that is being referenced","required":true,"type":"string"},{"name":"ExternalReferenceName","in":"query","description":"Name of the external entity key","required":false,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ExternalReferenceListResponse"}}}},"put":{"tags":["external-references"],"summary":"Add/Update ExternalReference for Employee","operationId":"PUT/external-references/employee","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"ExternalReferenceEmployeePutRequest","in":"body","description":"ExternalReference to add/update","required":true,"schema":{"$ref":"#/definitions/ExternalReferenceEmployeePutRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ExternalReferenceIdResponse"}}}}},"/features":{"get":{"tags":["features"],"summary":"Get the availability of all EMS features.","operationId":"GET/features","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/FeatureAvailabilityResponse"}}}}}},"/features/{featureName}":{"get":{"tags":["features"],"summary":"Get the availability of a specific EMS feature.","operationId":"GET/features/{featureName}","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"featureName","in":"path","description":"The feature name","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/FeatureAvailabilityResponse"}}}}},"/health-check":{"get":{"tags":["health-check"],"summary":"Health Check API default Index","operationId":"GET/health-check","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"title":"HttpResponseMessage","type":"object"}}}}},"/healthCheck":{"get":{"tags":["health-check"],"summary":"DEPRECATED: please use 'GET /health-check'","operationId":"GET/healthCheck","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"title":"HttpResponseMessage","type":"object"}}},"deprecated":true}},"/invoices":{"post":{"tags":["invoices"],"summary":"Gets all invoices for a customer","operationId":"POST/invoices","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"InvoicesSearchFilterPostRequest","in":"body","description":"Model containing identifiers used to filter invoices.","required":true,"schema":{"$ref":"#/definitions/InvoicesSearchFilterPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/InvoiceResponse"}}}}}},"/invoices/void":{"post":{"tags":["invoices"],"summary":"Voids an Invoice(s)","operationId":"POST/invoices/void","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"InvoiceVoidPostRequest","in":"body","description":"Void Invoice Request Model","required":true,"schema":{"$ref":"#/definitions/InvoiceVoidPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/InvoiceVoidCollectionResponse"}}}}},"/Invoices":{"get":{"tags":["invoices"],"summary":"DEPRECATED: please use 'POST /invoices'","operationId":"GET/Invoices","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"custId","in":"query","required":true,"type":"string","format":"uuid"},{"name":"billMethod","in":"query","required":false,"type":"string"},{"name":"cancelled","in":"query","required":false,"type":"boolean"},{"name":"posted","in":"query","required":false,"type":"boolean"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/InvoiceResponse"}}}},"deprecated":true}},"/lines-of-business":{"get":{"tags":["lines-of-business"],"summary":"Get a list of lines of business\tfor User Selection","operationId":"GET/lines-of-business","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"IncludeHidden","in":"query","description":"False (default) to only get active lines of business, True to get everything.","required":false,"type":"boolean"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/LineOfBusinessSetupResponse"}}}}}},"/linesOfBusiness":{"get":{"tags":["lines-of-business"],"summary":"DEPRECATED: please use 'GET /lines-of-business'","operationId":"GET/linesOfBusiness","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"includeHidden","in":"query","description":"False (default) to only get active lines of business, True to get everything","required":false,"type":"boolean"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/LineOfBusinessSetupResponse"}}}},"deprecated":true}},"/sms/conversations/{contactPhone}/messages":{"get":{"tags":["messages (sms)"],"summary":"Gets the messages for a specific conversation","operationId":"GET/sms/conversations/{contactPhone}/messages","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"contactPhone","in":"path","description":"The phone number of the client/contact for whom messages are wanted.","required":true,"type":"string"},{"name":"Size","in":"query","description":"The number of messages per page","required":false,"type":"integer","format":"int32"},{"name":"FromMessageId","in":"query","description":"A message ID indicating only messages before this message ID should be returned","required":false,"type":"integer","format":"int64"},{"name":"FromDateCreated","in":"query","description":"A date indicating only messages before this date should be returned","required":false,"type":"string","format":"date-time"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MessagePageResponse"}}}},"post":{"tags":["messages (sms)"],"summary":"Sends a new message from the agency in current context","operationId":"POST/sms/conversations/{contactPhone}/messages","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"MessagePostRequest","in":"body","description":"Representation of a single message.","required":true,"schema":{"$ref":"#/definitions/MessagePostRequest"}},{"name":"contactPhone","in":"path","description":"The phone number of client/contact to whom the message should go.","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MessageResponse"}}}}},"/sms/conversations/{contactPhone}/messages/{messageId}":{"get":{"tags":["messages (sms)"],"summary":"Gets a messages by message ID","operationId":"GET/sms/conversations/{contactPhone}/messages/{messageId}","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"messageId","in":"path","description":"The VMB ID for the message.","required":true,"type":"integer","format":"int64"},{"name":"contactPhone","in":"path","description":"The phone number of client/contact to whom the message should go.","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MessageResponse"}}}}},"/sms/conversations/{contactPhone}/messages/{messageId}/attachment/{attachmentId}":{"get":{"tags":["messages (sms)"],"summary":"Gets attachment by Message ID and Attachment ID","operationId":"GET/sms/conversations/{contactPhone}/messages/{messageId}/attachment/{attachmentId}","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"messageId","in":"path","description":"The message ID of the message.","required":true,"type":"integer","format":"int64"},{"name":"attachmentId","in":"path","description":"The attachment ID or the message.","required":true,"type":"string"},{"name":"contactPhone","in":"path","description":"The phone number of client/contact to whom the message should go.","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"title":"HttpResponseMessage","type":"object"}}}}},"/notifications/activity-actions":{"get":{"tags":["outbound-notification-service"],"summary":"Retrieves all enabled ONS ActivityAction Notification settings from the AFW_ONSActivityAction table.\r\nThese will contain a Y (true) value denoting that ONS notifications have been\r\nenabled for the associated ActivityAction.\r\nIf OnsRecipientId is provided, it will be used to filter the results.","operationId":"GET/notifications/activity-actions","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"OnsRecipientId","in":"query","description":"The unique identifier to a row item on the AFW_ONSRecipient table","required":false,"type":"string","format":"uuid"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ActivityActionNotificationResponse"}}}}},"put":{"tags":["outbound-notification-service"],"summary":"Updates existing ONS ActivityAction Notification settings by matching ONS RecipientId and AFW_ActivityAction ActionId","description":"See RestModels.Notification.ActivityActionNotificationPutRequest for usage.","operationId":"PUT/notifications/activity-actions","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"List`1","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/ActivityActionNotificationPutRequest"}}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ActivityActionNotificationUpdateResponse"}}}}}},"/notifications/message/process":{"post":{"tags":["outbound-notification-service"],"summary":"Receiver for messages from ONS for EMS to process and forward","description":"This controller is Anonymous because it is called by ONS which has not specific Agency or user context.\r\nThe context must be figured out later like the IVANS calls do.\r\n            \r\nWhen this is called for a Titan Receiver, the Authentication Code property on the NotificationMessage should be:\r\nAuthentication Code: TITAN-RDX\r\nAnd the endpoint being called should match the following format (bracket segments will be replaced in Provider):\r\nhttps://{base-url}/data-exchange/v1/{product-id}/{tenant-id}/entities/{entity-id}/rdx-message\r\n            \r\nNote: There is a special URI \"https://ams360.local.vertafore.com/ems/notification/Test\" for testing.\r\nDo Not Use for real calls","operationId":"POST/notifications/message/process","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"NotificationMessagePostRequest","in":"body","description":"A message object that is used to create and send a notification to the receiving party","required":true,"schema":{"$ref":"#/definitions/NotificationMessagePostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"title":"HttpResponseMessage","type":"object"}}}}},"/notifications/messages/blocked":{"get":{"tags":["outbound-notification-service"],"summary":"Retrieves all blocked ONS Notification Messages from the AFW_ONSMessageToProcess table.\r\nIf OnsRecipientId is provided, it will be used to filter the results.","operationId":"GET/notifications/messages/blocked","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"OnsRecipientId","in":"query","description":"The unique identifier to a Recipient that notification messages are associated to.","required":false,"type":"string","format":"uuid"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/BlockedNotificationMessageResponse"}}}}}},"/policies":{"get":{"tags":["policies"],"summary":"Gets all policies for a customer","operationId":"GET/policies","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"CustId","in":"query","description":"The customer identifier used to filter policies.","required":true,"type":"string","format":"uuid"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/BasicPolicyInfoResponse"}}}}}},"/policies/billing-info":{"get":{"tags":["policies"],"summary":"Returns a list of Policy with basic billing information","operationId":"GET/policies/billing-info","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"CustId","in":"query","description":"The customer identifier used to filter policies.","required":true,"type":"string","format":"uuid"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/CustomerViewPolicyInfoResponse"}}}}}},"/policy/claims":{"get":{"tags":["policies"],"summary":"Gets all claims for a Policy","operationId":"GET/policy/claims","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"PolId","in":"query","description":"Used to get a list of claims matching this identifier.","required":true,"type":"string","format":"uuid"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/PolicyClaimResponse"}}}}}},"/policy/contact/preference-types":{"get":{"tags":["policies"],"summary":"Gets all contact preferences associated to 'CCP' PrCode.AttrCode","operationId":"GET/policy/contact/preference-types","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"PreferenceDescription","in":"query","description":"Optional input to filter by (could be a PRCode or Description).","required":false,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/PrCodeResponse"}}}}}},"/policy/contacts":{"get":{"tags":["policies"],"summary":"Gets all non-deleted contacts associated to a Policy based on the Policy Id and optional Lob Id","operationId":"GET/policy/contacts","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"PolicyId","in":"query","description":"Filters returned results to only include contacts who are associated to the Policy Id.","required":true,"type":"string","format":"uuid"},{"name":"LobId","in":"query","description":"Optional filter to include contacts with a matching PolId and LOBId.","required":false,"type":"string","format":"uuid"},{"name":"IncludeContactsOnDeletedPolicies","in":"query","description":"If true, PolContacts on Deleted Policies will be included.","required":false,"type":"boolean"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/PolicyContactResponse"}}}}}},"/policy/e-docs":{"get":{"tags":["policies"],"summary":"Finds a policy by an effective date, carrier's NAIC and policy number.","operationId":"GET/policy/e-docs","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"PolicyNo","in":"query","description":"The policy number to look up.","required":true,"type":"string"},{"name":"NaicCode","in":"query","description":"Carrier's NAIC.","required":true,"type":"string"},{"name":"PolicyEffectiveDate","in":"query","description":"Policy Effective Date.","required":true,"type":"string","format":"date-time"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CustomerPolicyResponse"}},"400":{"description":"When request data parameters are not valid","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"When no Policy is matched","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"When more than one Policy is matched, no agencies matched or when any server exceptions","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/policy/e-docs/customer-id":{"get":{"tags":["policies"],"summary":"Gets the identifier for the customer on a given policy.","operationId":"GET/policy/e-docs/customer-id","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"PolicyNo","in":"query","description":"The policy number to look up.","required":true,"type":"string"},{"name":"NaicCode","in":"query","description":"The Carrier's NAIC code.","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CustomerIdResponse"}},"400":{"description":"When request data parameters are not valid","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"When no Policy is matched","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"When more than one Policy is matched, no agencies matched or when any server exceptions","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/policy/lines-of-business":{"get":{"tags":["policies"],"summary":"Gets all LOB Description associated to a Policy based on the Policy Id","operationId":"GET/policy/lines-of-business","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"PolicyId","in":"query","description":"Filters returned results to only include LOB Description which are associated to the Policy Id.","required":true,"type":"string","format":"uuid"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/LineOfBusinessResponse"}}}}}},"/policy/transactions":{"get":{"tags":["policies"],"summary":"Gets all transactions for a Policy","operationId":"GET/policy/transactions","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"PolId","in":"query","description":"Used to get all transactions for a policy.","required":true,"type":"string","format":"uuid"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/PolicyTransactionResponse"}}}}}},"/edocs/policy/findByCarrierPolicyInfo":{"get":{"tags":["policies"],"summary":"DEPRECATED: please use 'GET /policy/e-docs'","operationId":"GET/edocs/policy/findByCarrierPolicyInfo","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"policyNo","in":"query","description":"The policy number to look up","required":true,"type":"string"},{"name":"naicCode","in":"query","description":"Carrier's NAIC","required":true,"type":"string"},{"name":"policyEffectiveDate","in":"query","description":"Policy Effective Date","required":true,"type":"string","format":"date-time"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CustomerPolicyResponse"}},"400":{"description":"When request data parameters are not valid","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"When no Policy is matched","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"When more than one Policy is matched, no agencies matched or when any server exceptions","schema":{"$ref":"#/definitions/ErrorResponse"}}},"deprecated":true}},"/edocs/policy/getCustomerIdByPolicyInfo":{"get":{"tags":["policies"],"summary":"DEPRECATED: please use 'GET /policy/e-docs/customer-id'","operationId":"GET/edocs/policy/getCustomerIdByPolicyInfo","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"policyNo","in":"query","description":"The policy number to look up","required":true,"type":"string"},{"name":"naicCode","in":"query","description":"The Carrier's NAIC code","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"400":{"description":"When request data parameters are not valid","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"When no Policy is matched","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"When more than one Policy is matched, no agencies matched or when any server exceptions","schema":{"$ref":"#/definitions/ErrorResponse"}}},"deprecated":true}},"/policies/billingInfo":{"get":{"tags":["policies"],"summary":"DEPRECATED: please use 'GET /policies/billing-info'","operationId":"GET/policies/billingInfo","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"custId","in":"query","description":"The Customer Id to return the polices for","required":true,"type":"string","format":"uuid"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/CustomerViewPolicyInfoResponse"}}}},"deprecated":true}},"/policy/contact/add":{"post":{"tags":["policies"],"summary":"DEPRECATED: please use 'POST /policy/contact'","operationId":"POST/policy/contact/add","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"PolicyContactPostRequest","in":"body","description":"The new Policy Contact object that we need to add","required":true,"schema":{"$ref":"#/definitions/PolicyContactPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"format":"uuid","type":"string","example":"00000000-0000-0000-0000-000000000000"}}},"deprecated":true}},"/policy/contact/preferenceTypes":{"get":{"tags":["policies"],"summary":"DEPRECATED: please use 'GET /policy/contact/preference-types'","operationId":"GET/policy/contact/preferenceTypes","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"preferenceDescription","in":"query","description":"Optional input to filter by (could be a PRCode or Description).","required":false,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/PrCodeResponse"}}}},"deprecated":true}},"/policy/contact/update":{"put":{"tags":["policies"],"summary":"DEPRECATED: please use 'PUT /policy/contact'","operationId":"PUT/policy/contact/update","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"PolicyContactPutRequest","in":"body","description":"The Policy Contact object that we need to update","required":true,"schema":{"$ref":"#/definitions/PolicyContactPutRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"format":"uuid","type":"string","example":"00000000-0000-0000-0000-000000000000"}}},"deprecated":true}},"/policy/linesOfBusiness":{"get":{"tags":["policies"],"summary":"DEPRECATED: please use 'GET /policy/lines-of-business'","operationId":"GET/policy/linesOfBusiness","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"PolId","in":"query","description":"Filters returned results to only include LOB Description which are associated to the Policy Id.","required":true,"type":"string","format":"uuid"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/LineOfBusinessResponse"}}}},"deprecated":true}},"/sms/config":{"get":{"tags":["sms-configuration"],"summary":"Gets the default agency phone setup","description":"No Unit Test, Integration Test Only","operationId":"GET/sms/config","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SmsConfigResponse"}}}},"post":{"tags":["sms-configuration"],"summary":"Sets the agency phone setup status","operationId":"POST/sms/config","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"SmsConfigPostRequest","in":"body","description":"An object containing the new status.","required":true,"schema":{"$ref":"#/definitions/SmsConfigPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SmsConfigResponse"}}}}},"/sms/config/activate":{"post":{"tags":["sms-configuration"],"summary":"Activates an agency with the given phone number.","description":"If an existing active setup exists in AMS360 there is an error object returned.","operationId":"POST/sms/config/activate","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"SmsActivationPostRequest","in":"body","description":"An object describing the agency, phone number to register and whether to\r\n            \tregister only the data portion of the number.","required":true,"schema":{"$ref":"#/definitions/SmsActivationPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SmsConfigResponse"}}}}},"/sms/config/status":{"post":{"tags":["sms-configuration"],"summary":"Sets the agency phone setup status","operationId":"POST/sms/config/status","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"VmbEventPostRequest","in":"body","description":"A VMB event.","required":true,"schema":{"$ref":"#/definitions/VmbEventPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SmsConfigResponse"}}}}},"/submissions":{"get":{"tags":["submissions"],"summary":"Gets all submissions for a customer","operationId":"GET/submissions","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"CustId","in":"query","description":"The customer identifier used to filter policies.","required":true,"type":"string","format":"uuid"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/BasicPolicyInfoResponse"}}}}}},"/suspense":{"post":{"tags":["suspenses"],"summary":"Creates a suspense.","operationId":"POST/suspense","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"SuspensePostRequest","in":"body","description":"The suspense to create.","required":true,"schema":{"$ref":"#/definitions/SuspensePostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuspenseIdResponse"}},"400":{"description":"When model validation failed","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Internal Server Exception","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/suspense/e-docs":{"post":{"tags":["suspenses"],"summary":"Creates a new suspense from an EDocs Suspense.","operationId":"POST/suspense/e-docs","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"EdocsSuspensePostRequest","in":"body","description":"The EDocs Suspense to create","required":true,"schema":{"$ref":"#/definitions/EdocsSuspensePostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuspenseIdResponse"}},"400":{"description":"When model validation failed","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Internal Server Exception","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/suspenses/actions":{"get":{"tags":["suspenses"],"summary":"Returns a list of non-hidden Actions.","description":"See RestModels.ActivityModel for usage.\r\nNote context is not actually required, added only for possible use in security in the future\r\nand makes sure the caller has at least an agency context.\r\nThe Activity and Suspense use the same list but each have an endpoint to make it easier for the user.","operationId":"GET/suspenses/actions","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ActionResponse"}}}}}},"/suspenses/entity-types":{"get":{"tags":["suspenses"],"summary":"Returns a list of Entity Types used to associate an suspense. For instance to a customer or Policy.","description":"See RestModels.ActivityModel for usage.\r\nNote context is not actually required, added only for possible use in security in the future\r\nand makes sure the caller has at least an agency context.\r\nThe Activity and Suspense use the same list but each have an endpoint to make it easier for the user.","operationId":"GET/suspenses/entity-types","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/EntityTypeResponse"}}}}}},"/Edocs/Suspense":{"post":{"tags":["suspenses"],"summary":"DEPRECATED: please use 'POST /suspense/e-docs'","operationId":"POST/Edocs/Suspense","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"nam
[...]
