{"swagger":"2.0","info":{"version":"internal","title":"EMS Services"},"host":"ems-qa1.devop.vertafore.com","schemes":["https"],"paths":{"/activities/attachment":{"post":{"tags":["activities"],"summary":"POSTs a new Activity attachment and associates it with multiple activities.","operationId":"POST/activities/attachment","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"MultiActivityAttachmentPostRequest","in":"body","description":"The attachment to be uploaded and the ActivityIds for the activities to attach it to","required":true,"schema":{"$ref":"#/definitions/MultiActivityAttachmentPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DocAttachmentIdResponse"}}}}},"/activities/policy":{"post":{"tags":["activities"],"summary":"Creates multiple policy activities.\r\nThose being activities/transactions associated to the Customer Entity Type and a PolicyId.","operationId":"POST/activities/policy","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"PolicyActivitiesPostRequest","in":"body","description":"The collection of models describing the new policy activities to create.","required":true,"schema":{"$ref":"#/definitions/PolicyActivitiesPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ActivityIdResponse"}}}}}},"/activity/actions":{"get":{"tags":["activities"],"summary":"Returns a list of non-hidden Actions.","description":"See RestModels.ActivityModel for usage.\r\nNote context is not actually required, added only for possible use in security in the future\r\nand makes sure the caller has at least an agency context.\r\nThe Activity and Suspense use the same list but each have an endpoint to make it easier for the user.","operationId":"GET/activity/actions","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ActionResponse"}}}}},"put":{"tags":["activities"],"summary":"Updates any/all existing ActivityActions by matching Id","description":"See RestModels.Activity.ActivityActionUpdateResponse for usage.\r\nNote context is not actually required, added only for possible use in security in the future\r\nand makes sure the caller has at least an agency context.","operationId":"PUT/activity/actions","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"List`1","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/ActivityActionPutRequest"}}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ActivityActionUpdateResponse"}}}}}},"/activity/agency-url/create":{"get":{"tags":["activities"],"summary":"Creates the Url to the appropriate Agency Activity page in 360","operationId":"GET/activity/agency-url/create","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"EntityType","in":"query","description":"The type of 360 Entity (e.g. Employee, Company, Customer).","required":true,"type":"string"},{"name":"EntityId","in":"query","description":"The Guid or Sequence No of the entity.","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ActivityUrlResponse"}}}}},"/activity/attachment":{"post":{"tags":["activities"],"summary":"POSTs a new Activity/Document Attachment by Activity/Transaction Id.","operationId":"POST/activity/attachment","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"AppendAttachmentPostRequest","in":"body","description":"The new Activity/Document attachment to be appended","required":true,"schema":{"$ref":"#/definitions/AppendAttachmentPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DocAttachmentIdResponse"}}}}},"/activity/attachment-data":{"get":{"tags":["activities"],"summary":"GETs a Activity/Document Attachment's stored Image Data by Image Id.\r\nIf the image data is compressed, it will be decompressed prior to being returned.","operationId":"GET/activity/attachment-data","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"DataId","in":"query","description":"The Attachment's stored Image Id to filter by.","required":false,"type":"string","format":"uuid"},{"name":"Base64Encode","in":"query","description":"If true, the response will be returned base64 encoded.","required":false,"type":"boolean"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DocAttachmentDataResponse"}}}}},"/activity/attachment-info":{"get":{"tags":["activities"],"summary":"GETs a Activity/Document Attachment's Details by Attachment Id.","operationId":"GET/activity/attachment-info","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"AttachmentId","in":"query","description":"The attachment ID to filter by.","required":false,"type":"string","format":"uuid"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/DocAttachmentResponse"}}}}}},"/activity/attachments/document-types":{"get":{"tags":["activities"],"summary":"Gets a list of available Document Types","operationId":"GET/activity/attachments/document-types","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DocTypeListResponse"}}}}},"/activity/claim":{"post":{"tags":["activities"],"summary":"Creates a Claim Activity.","operationId":"POST/activity/claim","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"ActivityClaimPostRequest","in":"body","description":"Claim activity to create","required":true,"schema":{"$ref":"#/definitions/ActivityClaimPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ActivityClaimResponse"}}}}},"/activity/comment":{"post":{"tags":["activities"],"summary":"POSTs a new Activity/Transaction Comment by Activity/Transaction Id.","operationId":"POST/activity/comment","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"ActivityCommentPostRequest","in":"body","description":"The new Activity/Transaction Comment to be added","required":true,"schema":{"$ref":"#/definitions/ActivityCommentPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ActivityCommentResponse"}}}}},"/activity/customer":{"post":{"tags":["activities"],"summary":"POSTs a Customer Activity.\r\nThat being an activity/transaction associated to the Customer Entity Type, but not a PolicyId.","operationId":"POST/activity/customer","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"CustomerActivityPostRequest","in":"body","description":"The POST request model for Policy Activity from the request body","required":true,"schema":{"$ref":"#/definitions/CustomerActivityPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ActivityIdResponse"}}}}},"/activity/customer/search":{"post":{"tags":["activities"],"summary":"Gets filtered customer activities based on the given search/filter criteria.","operationId":"POST/activity/customer/search","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"PagingRequest`1","in":"body","description":"The filter criteria used to search for customer activities.","required":true,"schema":{"$ref":"#/definitions/PagingRequest[CustomerActivitiesSearchPostRequest]"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagingResponse[CustomerActivityResponse]"}}}}},"/activity/entity-types":{"get":{"tags":["activities"],"summary":"Returns a list of Entity Types used to associate an activity. For instance to a customer or Policy.","description":"See RestModels.ActivityModel for usage.\r\nNote context is not actually required, added only for possible use in security in the future\r\nand makes sure the caller has at least an agency context.\r\nThe Activity and Suspense use the same list but each have an endpoint to make it easier for the user.","operationId":"GET/activity/entity-types","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/EntityTypeResponse"}}}}}},"/activity/policy":{"get":{"tags":["activities"],"summary":"GETs a list of Policy Activities.\r\nThese are associated to the Customer Entity Type, and must have PolicyId.","operationId":"GET/activity/policy","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"PolicyId","in":"query","description":"The Policy Id to filter by.","required":false,"type":"string","format":"uuid"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/PolicyActivityResponse"}}}}},"post":{"tags":["activities"],"summary":"POSTs a Policy Activity.\r\nThat being an activity/transaction associated to the Customer Entity Type and a PolicyId.","operationId":"POST/activity/policy","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"PolicyActivityPostRequest","in":"body","description":"The POST request model for Policy Activity from the request body","required":true,"schema":{"$ref":"#/definitions/PolicyActivityPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ActivityIdResponse"}}}}},"/activity/claimActivity":{"post":{"tags":["activities"],"summary":"DEPRECATED: please use 'POST /activity/claim'","operationId":"POST/activity/claimActivity","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"ActivityClaimPostRequest","in":"body","description":"claim activity to create","required":true,"schema":{"$ref":"#/definitions/ActivityClaimPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"format":"uuid","type":"string","example":"00000000-0000-0000-0000-000000000000"}}},"deprecated":true}},"/activity/createUrl":{"get":{"tags":["activities"],"summary":"DEPRECATED: please use 'GET /activity/agency-url/create'","operationId":"GET/activity/createUrl","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"entityType","in":"query","description":"The type of 360 Entity (e.g. Employee, Company, Customer)","required":true,"type":"string"},{"name":"entityId","in":"query","description":"The Guid or Sequence No of the entity","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}},"deprecated":true}},"/activity/e-docs":{"post":{"tags":["activities"],"summary":"DEPRECATED: Please use the standard \"EMS/Activity\" POSt method with a token created from IVANS credentials.\r\nCreates an activity from an EDocs model.","operationId":"POST/activity/e-docs","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"EdocsActivityPostRequest","in":"body","description":"EDocs Activity","required":true,"schema":{"$ref":"#/definitions/EdocsActivityPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EdocsActivityResponse"}},"400":{"description":"When model validation failed","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Internal Server Exception","schema":{"$ref":"#/definitions/ErrorResponse"}}},"deprecated":true}},"/activity/entityTypes":{"get":{"tags":["activities"],"summary":"DEPRECATED: please use 'GET /activity/entity-types'","description":"See RestModels.ActivityModel for usage.\r\nNote context is not actually required, added only for possible use in security in the future\r\nand makes sure the caller has at least an agency context.\r\nThe Activity and Suspense use the same list but each have an endpoint to make it easier for the user.","operationId":"GET/activity/entityTypes","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"string"}}}},"deprecated":true}},"/edocs/activity":{"post":{"tags":["activities"],"summary":"DEPRECATED: please use 'POST /activity/e-docs'\r\nCreates an activity from an EDocs model.","operationId":"POST/edocs/activity","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"EdocsActivityPostRequest","in":"body","description":"EDocs Activity","required":true,"schema":{"$ref":"#/definitions/EdocsActivityPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"format":"uuid","type":"string","example":"00000000-0000-0000-0000-000000000000"}},"400":{"description":"When model validation failed","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Internal Server Exception","schema":{"$ref":"#/definitions/ErrorResponse"}}},"deprecated":true}},"/activity-checkpoint":{"get":{"tags":["activity-checkpoints"],"summary":"This API is used to get activity checkpoint setting. Based on the activity checkpoint setting, activity will be logged.","operationId":"GET/activity-checkpoint","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"Checkpoint","in":"query","description":"Activity Checkpoint.  Example:Policy Edit","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ActivityCheckpointResponse"}}}}},"/agency/base-url":{"get":{"tags":["agency"],"summary":"Returns a string representing the base Url for an agency","operationId":"GET/agency/base-url","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AgencyUrlResponse"}}}}},"/agency/details":{"get":{"tags":["agency"],"summary":"Get agency's details","operationId":"GET/agency/details","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"AgencyNo","in":"query","description":"The agency number.","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AgencyResponse"}}}}},"/agency/download-info":{"get":{"tags":["agency"],"summary":"Get download information for an agency.","operationId":"GET/agency/download-info","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"title":"IHttpActionResult","type":"object"}}}},"post":{"tags":["agency"],"summary":"Updates Download Information for an agency.","operationId":"POST/agency/download-info","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"DownloadInformationPostRequest","in":"body","description":"Model containing identifiers used to update agency download information.","required":true,"schema":{"$ref":"#/definitions/DownloadInformationPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"title":"IHttpActionResult","type":"object"}}}}},"/agency/employees":{"get":{"tags":["agency"],"summary":"Gets active employees for the agency","operationId":"GET/agency/employees","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EmployeeListResponse"}}}}},"/agency/global-tenant-id":{"post":{"tags":["agency"],"summary":"Retrieves GlobalTenantId(GTID) from AgencyDB. If it does not exist in the DB then calls GlobalTenantId service to fetch the GTID.\r\nThe GTID is saved in Agency DB so further calls will just return the value from DB. \r\nThe value is saved in the DB only for agencies with version 18.1 and above.","operationId":"POST/agency/global-tenant-id","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"GlobalTenantIdPostRequest","in":"body","description":"Model contains the data required to fetch the GTID","required":true,"schema":{"$ref":"#/definitions/GlobalTenantIdPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GlobalTenantIdResponse"}}}}},"/agency/global-tenant-ids":{"get":{"tags":["agency"],"summary":"Retrieves all global tenant Ids for provided Ivans credentials. Ivans credentials should be passed in token.","operationId":"GET/agency/global-tenant-ids","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GlobalTenantIdsResponse"}},"400":{"description":"When request data parameters are not valid","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"When no GTIDs are found","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Server exception","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/agency/lists":{"get":{"tags":["agency"],"summary":"Gets list setup for the agency for the given code. To get the master list send ^^^ in the request parameter.\r\nIf no paramter supplied then returns the agency lists based on ^^^ code.","operationId":"GET/agency/lists","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"PrCode","in":"query","description":"Optional code input to filter code list setup in an agency.\r\nIf no value provided then defaults to ^^^ which gets the master list of codes.","required":false,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/PrCodeResponse"}}}}}},"/agency/maintenance-windows":{"get":{"tags":["agency"],"summary":"Return the list of maintenance windows for the agency.","operationId":"GET/agency/maintenance-windows","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AgencyMaintenanceWindowsResponse"}}}}},"/agency/profile-questions":{"get":{"tags":["agency"],"summary":"Get the list of agency profile questions","operationId":"GET/agency/profile-questions","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"IncludeHidden","in":"query","description":"Indicates whether to include hidden questions","required":false,"type":"boolean"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/AgencyProfileQuestionResponse"}}}}}},"/agency/service-employees":{"get":{"tags":["agency"],"summary":"Gets service employees for the agency","operationId":"GET/agency/service-employees","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EmployeeListResponse"}}}}},"/agency/settings":{"get":{"tags":["agency"],"summary":"This Endpoint currently only return one Agency Setting that is \"DeferredGLNumber\" but should be extended\r\nin future to return other Agency Settings included but not limited to IvansUsageCategory, InterDivAcctGLNumber, InterDivGLNumber Etc.","operationId":"GET/agency/settings","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AgencySettingsResponse"}}}},"post":{"tags":["agency"],"summary":"This Endpoint currently only saves one Agency Setting that is \"DeferredGLNumber\" but should be extended\r\nin future to save other Agency Settings included but not limited to IvansUsageCategory, InterDivAcctGLNumber, InterDivGLNumber Etc.","operationId":"POST/agency/settings","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"AgencySettingsPostRequest","in":"body","required":true,"schema":{"$ref":"#/definitions/AgencySettingsPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AgencySettingsResponse"}}}}},"/agency/settings/deferred-gl/remove":{"post":{"tags":["agency"],"summary":"This Endpoint currently only deletes one Agency Setting that is \"DeferredGLNumber\" but should be extended\r\nin future to delete other Agency Settings included but not limited to IvansUsageCategory, InterDivAcctGLNumber, InterDivGLNumber Etc.","operationId":"POST/agency/settings/deferred-gl/remove","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"AgencySettingsPostRequest","in":"body","required":true,"schema":{"$ref":"#/definitions/AgencySettingsPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DirectBillDeferredGLSettingsDeletedResponse"}}}}},"/maintenance-windows":{"get":{"tags":["maintenance-windows"],"summary":"Get all maintenance windows. Optionally, get maintenance window by Id supplied in query params.","description":"ACC will call this endpoint to get maintenance windows.","operationId":"GET/maintenance-windows","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"Id","in":"query","description":"Identifier for requested maintenance window.","required":false,"type":"string","format":"uuid"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MaintenanceWindowResponse"}}}}},"put":{"tags":["maintenance-windows"],"summary":"Edit maintenance window.","operationId":"PUT/maintenance-windows","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"MaintenanceWindowPutRequest","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/MaintenanceWindowPutRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MaintenanceWindowIdResponse"}}}},"post":{"tags":["maintenance-windows"],"summary":"Create a new maintenance window.","operationId":"POST/maintenance-windows","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"MaintenanceWindowPostRequest","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/MaintenanceWindowPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MaintenanceWindowIdResponse"}}}}},"/agency/baseUrl":{"get":{"tags":["agency"],"summary":"DEPRECATED: please use 'GET /agency/base-url'","operationId":"GET/agency/baseUrl","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"string"}}},"deprecated":true}},"/agency/detail":{"get":{"tags":["agency"],"summary":"DEPRECATED: please use 'GET /agency/details'","operationId":"GET/agency/detail","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"agencyNo","in":"query","description":"Agency Number","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AgencyResponse"}}},"deprecated":true}},"/agency/downloadInfo":{"get":{"tags":["agency"],"summary":"DEPRECATED: please use 'GET /agency/download-info'","operationId":"GET/agency/downloadInfo","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"title":"IHttpActionResult","type":"object"}}},"deprecated":true},"post":{"tags":["agency"],"summary":"DEPRECATED: please use 'POST /agency/download-info'","operationId":"POST/agency/downloadInfo","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"DownloadInformationPostRequest","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/DownloadInformationPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"title":"IHttpActionResult","type":"object"}}},"deprecated":true}},"/agency/search":{"post":{"tags":["agency"],"summary":"DEPRECATED: please use 'POST /agencies'","operationId":"POST/agency/search","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"AgenciesPostRequest","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/AgenciesPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/AgencyResponse"}}}},"deprecated":true}},"/globalTenantId":{"post":{"tags":["agency"],"summary":"DEPRECATED: please use 'POST /global-tenant-id'","description":"Retrieves GlobalTenantId(GTID) from AgencyDB. If it does not exist in the DB then calls GlobalTenantId service to fetch the GTID based on \r\nfollowing parameters\r\n    1. AMSCustId\r\n    2. AgencyNo (InstanceId)\r\n    3. ApplicationId\r\nThe GTID is saved in Agency DB so further calls will just return the value from DB. \r\nThe value is saved in the DB only for agencies with version 18.1 and above.","operationId":"POST/globalTenantId","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"String","in":"body","description":"The data required to fetch the GTID","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}},"deprecated":true}},"/globalTenantId/getAllGTIDsByIvans":{"get":{"tags":["agency"],"summary":"DEPRECATED: please use 'GET /global-tenant-ids'","operationId":"GET/globalTenantId/getAllGTIDsByIvans","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"title":"Dictionary`2","type":"object","additionalProperties":{"type":"string"}}},"400":{"description":"When request data parameters are not valid","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"When no GTIDs are found","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Server exception","schema":{"$ref":"#/definitions/ErrorResponse"}}},"deprecated":true}},"/application-lock/checkin":{"post":{"tags":["application-locks"],"summary":"Release application lock.","operationId":"POST/application-lock/checkin","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"ApplicationLockCheckinPostRequest","in":"body","required":true,"schema":{"$ref":"#/definitions/ApplicationLockCheckinPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApplicationLockCheckinResponse"}}}}},"/application-lock/checkout":{"post":{"tags":["application-locks"],"summary":"Check to see if the application lock can be granted and grant the lock if it is not already locked.","operationId":"POST/application-lock/checkout","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"ApplicationLockCheckoutPostRequest","in":"body","required":true,"schema":{"$ref":"#/definitions/ApplicationLockCheckoutPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApplicationLockResponse"}}}}},"/application-locks":{"get":{"tags":["application-locks"],"summary":"List all the application locks","operationId":"GET/application-locks","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"ApplicationLockType","in":"query","description":"Application Lock Type.","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ApplicationLockResponse"}}}}}},"/auth":{"post":{"tags":["authentication"],"summary":"The *new* first endpoint an EMS External User needs to hit to be authenticated\r\nGets a temporary loginKey when provided an applicationKey from an EMS External User. \r\nThe temporary loginKey is returned for use in a subsequent request to retrieve an accessToken.","operationId":"POST/auth","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"AuthAppKeyPostRequest","in":"body","description":"The secret app key that is configured in ACC for use by integrating applications requiring access to EMS.","required":true,"schema":{"$ref":"#/definitions/AuthAppKeyPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LoginKeyResponse"}}}}},"/auth/config/agency/apps":{"get":{"tags":["config (auth)"],"summary":"Gets Orange Partners, Vertafore and Agency agency apps","operationId":"GET/auth/config/agency/apps","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"AppId","in":"query","description":"App identifier.","required":false,"type":"string","format":"uuid"},{"name":"ActiveOnly","in":"query","description":"Flag to show apps with Active status.","required":false,"type":"boolean"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/AuthAppResponse"}}}}}},"/auth/config/agency-key/service-users":{"get":{"tags":["config (auth)"],"summary":"Gets registered users having Application Access To Agency Keys. Agency employees with status of \"Service\".","operationId":"GET/auth/config/agency-key/service-users","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"EmailAddress","in":"query","description":"Email Address of Service Employee","required":false,"type":"string"},{"name":"FirstName","in":"query","description":"First name of Service Employee","required":false,"type":"string"},{"name":"LastName","in":"query","description":"Last name of Service Employee","required":false,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UserAgencyKeyListResponse"}}}}},"/auth/config/agency-keys/{appId}":{"get":{"tags":["config (auth)"],"summary":"Gets Application Access To appId\r\nSupports multiple BUAccess Groups having access to an App","operationId":"GET/auth/config/agency-keys/{appId}","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"appId","in":"path","description":"AppId","required":true,"type":"string","format":"uuid"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/AppAccessToAgencyResponse"}}}}}},"/auth/config/agency-keys/generate":{"put":{"tags":["config (auth)"],"summary":"Generate Application Access To Agency Keys","operationId":"PUT/auth/config/agency-keys/generate","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"IEnumerable`1","in":"body","description":"AppAccessToAgencyBatch request model","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/AppAccessToAgencyPutRequest"}}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/AppAccessToAgencyResponse"}}}}}},"/auth/config/app":{"put":{"tags":["config (auth)"],"summary":"Creates or updates application","operationId":"PUT/auth/config/app","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"AuthAppPutRequest","in":"body","description":"AuthApp Model","required":true,"schema":{"$ref":"#/definitions/AuthAppPutRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AuthAppResponse"}}}}},"/auth/config/app-endpoint-access":{"put":{"tags":["config (auth)"],"summary":"Adds rows to the EMS_AppAccessToEndpointTable","operationId":"PUT/auth/config/app-endpoint-access","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"AppAccessToEndpointPutRequest","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/AppAccessToEndpointPutRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"enum":["Continue","SwitchingProtocols","OK","Created","Accepted","NonAuthoritativeInformation","NoContent","ResetContent","PartialContent","MultipleChoices","Ambiguous","MovedPermanently","Moved","Found","Redirect","SeeOther","RedirectMethod","NotModified","UseProxy","Unused","TemporaryRedirect","RedirectKeepVerb","BadRequest","Unauthorized","PaymentRequired","Forbidden","NotFound","MethodNotAllowed","NotAcceptable","ProxyAuthenticationRequired","RequestTimeout","Conflict","Gone","LengthRequired","PreconditionFailed","RequestEntityTooLarge","RequestUriTooLong","UnsupportedMediaType","RequestedRangeNotSatisfiable","ExpectationFailed","UpgradeRequired","InternalServerError","NotImplemented","BadGateway","ServiceUnavailable","GatewayTimeout","HttpVersionNotSupported"],"type":"string"}}}}},"/auth/config/app-endpoint-access/whitelist-tree":{"get":{"tags":["config (auth)"],"summary":"Retrieves the categories and endpoints for a particular app in a two-tiered tree structure","operationId":"GET/auth/config/app-endpoint-access/whitelist-tree","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"AppId","in":"query","description":"Unique identifier representing an application","required":false,"type":"string","format":"uuid"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/AppEndpointTreeNodeResponse"}}}}}},"/auth/config/app-key/generate":{"put":{"tags":["config (auth)"],"summary":"Generates application key","operationId":"PUT/auth/config/app-key/generate","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"AppKeyPutRequest","in":"body","description":"Application Key Request Model","required":true,"schema":{"$ref":"#/definitions/AppKeyPutRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AuthAppKeyResponse"}}}}},"/auth/config/app-keys/{appId}":{"get":{"tags":["config (auth)"],"summary":"Gets application keys","operationId":"GET/auth/config/app-keys/{appId}","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"appId","in":"path","description":"Application identifier","required":true,"type":"string","format":"uuid"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/AppKeyResponse"}}}}}},"/auth/config/apps":{"get":{"tags":["config (auth)"],"summary":"Gets ems apps","operationId":"GET/auth/config/apps","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"AppId","in":"query","description":"App identifier.","required":false,"type":"string","format":"uuid"},{"name":"ActiveOnly","in":"query","description":"Flag to show apps with Active status.","required":false,"type":"boolean"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/AuthAppResponse"}}}}}},"/auth/config/auth-groups/{authGroupId}":{"get":{"tags":["config (auth)"],"summary":"Gets a list of AuthGroups from AFW_AuthGroup table in Agency Database","operationId":"GET/auth/config/auth-groups/{authGroupId}","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"authGroupId","in":"path","description":"Id of the AuthGroup in Agency Database","required":true,"type":"string","format":"uuid"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/AuthGroupResponse"}}}}}},"/auth/config/categories":{"get":{"tags":["config (auth)"],"summary":"Retrieves a List of all EMS Categories from DB","operationId":"GET/auth/config/categories","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/EmsCategoryResponse"}}}}}},"/auth/config/categories/add":{"put":{"tags":["config (auth)"],"summary":"Add new categories in Category table","operationId":"PUT/auth/config/categories/add","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"List`1","in":"body","description":"","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/EmsCategoryPutRequest"}}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/EmsCategoryResponse"}}}}}},"/auth/config/categories/delete":{"post":{"tags":["config (auth)"],"summary":"Remove categories in Category table","operationId":"POST/auth/config/categories/delete","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"List`1","in":"body","description":"","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/EmsCategoryDeletePostRequest"}}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EmsCategoriesDeletedResponse"}}}}},"/auth/config/endpoints":{"get":{"tags":["config (auth)"],"summary":"Retrieves a List of all EMS Endpoints from DB","operationId":"GET/auth/config/endpoints","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/EmsEndpointResponse"}}}}}},"/auth/config/endpoints/add":{"put":{"tags":["config (auth)"],"summary":"Adds new endpoints in Endpoint table","operationId":"PUT/auth/config/endpoints/add","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"List`1","in":"body","description":"","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/EmsEndpointPostPutRequest"}}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/EmsEndpointResponse"}}}}}},"/auth/config/endpoints/delete":{"post":{"tags":["config (auth)"],"summary":"Deletes endpoints from Endpoint table in SiteDb","operationId":"POST/auth/config/endpoints/delete","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"List`1","in":"body","description":"","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/EmsEndpointPostPutRequest"}}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EmsEndpointsDeletedResponse"}}}}},"/auth/config/user":{"put":{"tags":["config (auth)"],"summary":"Create new or update existing application user","operationId":"PUT/auth/config/user","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"AuthUserPutRequest","in":"body","description":"User to create","required":true,"schema":{"$ref":"#/definitions/AuthUserPutRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AuthUserResponse"}}}}},"/auth/config/users/{userId}":{"get":{"tags":["config (auth)"],"summary":"Gets list of app users","operationId":"GET/auth/config/users/{userId}","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"userId","in":"path","description":"User identifier","required":true,"type":"string","format":"uuid"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/AuthUserResponse"}}}}}},"/Auth":{"get":{"tags":["authentication"],"summary":"The first endpoint an EMS External User needs to hit to be authenticated\r\nGets an EMSLoginGuid when provided a secret key from an EMS External User. \r\nThe EMSLoginGuid is returned to for use with LoginAsUser","operationId":"GET/Auth","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"secretKey","in":"query","required":true,"type":"string","format":"uuid"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"title":"HttpResponseMessage","type":"object"}}},"deprecated":true}},"/auth/config/agency-key/generate":{"put":{"tags":["config (auth)"],"summary":"DEPRECATED: please use 'PUT /auth/config/agency-keys/generate'","operationId":"PUT/auth/config/agency-key/generate","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"AppAccessToAgencyPutRequest","in":"body","description":"AppAccessToAgency request model","required":true,"schema":{"$ref":"#/definitions/AppAccessToAgencyPutRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AppAccessToAgencyResponse"}}},"deprecated":true}},"/auth/config/get/agency-key/{appId}":{"get":{"tags":["config (auth)"],"summary":"DEPRECATED: please use 'GET /auth/config/agency-keys/{appId}'","operationId":"GET/auth/config/get/agency-key/{appId}","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"appId","in":"path","description":"AppAccessToAgency request model","required":true,"type":"string","format":"uuid"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AppAccessToAgencyResponse"}}},"deprecated":true}},"/EmsApp":{"put":{"tags":["config (auth)"],"summary":"DEPRECATED: please use 'PUT /auth/config/app'","operationId":"PUT/EmsApp","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"AuthAppPutRequest","in":"body","description":"AuthApp Model","required":true,"schema":{"$ref":"#/definitions/AuthAppPutRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AuthAppResponse"}}},"deprecated":true}},"/EmsAppKeys/{appId}":{"get":{"tags":["config (auth)"],"summary":"DEPRECATED: please use 'GET /auth/config/app-keys/{appId}'","operationId":"GET/EmsAppKeys/{appId}","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"appId","in":"path","description":"Application identifier","required":true,"type":"string","format":"uuid"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/AppKeyResponse"}}}},"deprecated":true}},"/EmsApps":{"get":{"tags":["config (auth)"],"summary":"DEPRECATED: please use 'GET /auth/config/apps'","operationId":"GET/EmsApps","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"appId","in":"query","description":"App identifier","required":false,"type":"string","format":"uuid"},{"name":"activeOnly","in":"query","description":"Flag to show apps with Active status","required":false,"type":"boolean"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/AuthAppResponse"}}}},"deprecated":true}},"/EmsUser":{"put":{"tags":["config (auth)"],"summary":"DEPRECATED: please use 'PUT /auth/config/user'","operationId":"PUT/EmsUser","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"AuthUserPutRequest","in":"body","description":"User to create","required":true,"schema":{"$ref":"#/definitions/AuthUserPutRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AuthUserResponse"}}},"deprecated":true}},"/EmsUsers/{userId}":{"get":{"tags":["config (auth)"],"summary":"DEPRECATED: please use 'GET /auth/config/users/{userId?}'","operationId":"GET/EmsUsers/{userId}","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"userId","in":"path","description":"User identifier","required":true,"type":"string","format":"uuid"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/AuthUserResponse"}}}},"deprecated":true}},"/GenerateAgencyKey":{"put":{"tags":["config (auth)"],"summary":"DEPRECATED: please use 'PUT /auth/config/agency-key/generate'","operationId":"PUT/GenerateAgencyKey","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"AppAccessToAgencyPutRequest","in":"body","description":"AppAccessToAgency request model","required":true,"schema":{"$ref":"#/definitions/AppAccessToAgencyPutRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AppAccessToAgencyResponse"}}},"deprecated":true}},"/GenerateAppKey":{"put":{"tags":["config (auth)"],"summary":"DEPRECATED: please use 'PUT /auth/config/app-key/generate'","operationId":"PUT/GenerateAppKey","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"AppKeyPutRequest","in":"body","description":"Application Key Request Model","required":true,"schema":{"$ref":"#/definitions/AppKeyPutRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AuthAppKeyResponse"}}},"deprecated":true}},"/auth/admin/login":{"post":{"tags":["authentication"],"summary":"An endpoint that takes a Vertafore Administrator's login credentials from ACC for validation.\r\nOnce the credentials are accepted, responds with a model containing tokens for temporary use of EMS.","operationId":"POST/auth/admin/login","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"LoginPostRequest","in":"body","description":"A LoginRequestModel containing the login credentials to be validated","required":true,"schema":{"$ref":"#/definitions/LoginPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LoginResponse"}}}}},"/auth/app/login":{"post":{"tags":["authentication"],"summary":"An endpoint that takes application's login credentials for validation.\r\nOnce the credentials are accepted, responds with a model containing tokens for temporary use of EMS.","operationId":"POST/auth/app/login","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"LoginPostRequest","in":"body","description":"A LoginRequestModel containing the login credentials to be validated","required":true,"schema":{"$ref":"#/definitions/LoginPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LoginResponse"}}}}},"/auth/user/login":{"post":{"tags":["authentication"],"summary":"An endpoint that takes a user's login credentials for validation.\r\nOnce the credentials are accepted, responds with a model containing tokens for temporary use of EMS.","operationId":"POST/auth/user/login","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"LoginPostRequest","in":"body","description":"A LoginRequestModel containing the login credentials to be validated","required":true,"schema":{"$ref":"#/definitions/LoginPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LoginResponse"}}}}},"/auth/vertafore-app/login":{"post":{"tags":["authentication"],"summary":"An endpoint that takes a Vertafore application's login credentials for validation.\r\nOnce the credentials are accepted, responds with a model containing tokens for temporary use of EMS.","operationId":"POST/auth/vertafore-app/login","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"LoginPostRequest","in":"body","description":"A model containing the login credentials to be validated","required":true,"schema":{"$ref":"#/definitions/LoginPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LoginResponse"}}}}},"/auth/login":{"get":{"tags":["authentication"],"summary":"The second endpoint an EMS External User needs to hit to be authenticated\r\nReturns a JWT access token and refresh token for the external user to use in future requests\r\nEndpoint is used for both Native and VSSO authentication","operationId":"GET/auth/login","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"loginGuid","in":"query","required":true,"type":"string","format":"uuid"},{"name":"agencyNumber","in":"query","required":true,"type":"string"},{"name":"username","in":"query","required":true,"type":"string"},{"name":"password","in":"query","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LoginResponse"}}},"deprecated":true}},"/auth/loginAdmin":{"post":{"tags":["authentication"],"summary":"DEPRECATED: please use 'POST /auth/admin/login'","operationId":"POST/auth/loginAdmin","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"LoginPostRequest","in":"body","description":"A LoginRequestModel containing the login credentials to be validated","required":true,"schema":{"$ref":"#/definitions/LoginPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LoginResponse"}}},"deprecated":true}},"/auth/loginApp":{"post":{"tags":["authentication"],"summary":"DEPRECATED: please use 'POST /auth/app/login'","operationId":"POST/auth/loginApp","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"LoginPostRequest","in":"body","description":"A LoginRequestModel containing the login credentials to be validated","required":true,"schema":{"$ref":"#/definitions/LoginPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LoginResponse"}}},"deprecated":true}},"/auth/loginUser":{"post":{"tags":["authentication"],"summary":"DEPRECATED: please use 'POST /auth/user/login'","operationId":"POST/auth/loginUser","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"LoginPostRequest","in":"body","description":"A LoginRequestModel containing the login credentials to be validated","required":true,"schema":{"$ref":"#/definitions/LoginPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LoginResponse"}}},"deprecated":true}},"/auth/loginVertaforeApp":{"post":{"tags":["authentication"],"summary":"DEPRECATED: please use 'POST /auth/vertafore-app/login'","operationId":"POST/auth/loginVertaforeApp","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"LoginPostRequest","in":"body","description":"A model containing the login credentials to be validated","required":true,"schema":{"$ref":"#/definitions/LoginPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LoginResponse"}}},"deprecated":true}},"/auth/refresh":{"get":{"tags":["authentication"],"summary":"Endpoint used to \"refresh\" access tokens\r\nIf provided a set of valid access and refresh tokens, a new access token will be returned","operationId":"GET/auth/refresh","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"RefreshToken","in":"query","description":"This is the refresh Token that is in the model returned by the call to login.","required":true,"type":"string","format":"uuid"},{"name":"AccessToken","in":"query","description":"This is the expired JWT or accessJwt token in the model returned by the call to login.","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"title":"HttpResponseMessage","type":"object"}}},"deprecated":true},"post":{"tags":["authentication"],"summary":"an endpoint that \"refreshes\" an expired access token\r\nIf provided with a set of valid access and refresh tokens, a new Access Token will be returned","operationId":"POST/auth/refresh","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"AuthRefreshPostRequest","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/AuthRefreshPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AccessJwtResponse"}}}}},"/balance-journal-entries/collection-entries":{"get":{"tags":["balance-journal-entries"],"summary":"All balance journal entries within a given collection","operationId":"GET/balance-journal-entries/collection-entries","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"Model.BalanceJournalEntryCollectionId","in":"query","description":"Collection ID for the Balance Journal Entries","required":false,"type":"string","format":"uuid"},{"name":"Skip","in":"query","description":"Record offset. Defaults to zero.","required":false,"type":"integer","format":"int32"},{"name":"Top","in":"query","description":"Maximum records in a page.","required":false,"type":"integer","format":"int32"},{"name":"TotalRecords","in":"query","description":"If you already know the total number of records in the result set, it will not try to count them again.","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagingResponse[BalanceJournalEntriesResponse]"}}}},"delete":{"tags":["balance-journal-entries"],"summary":"Deletes all balance journal entries within a given collection, as well\r\nas the collection record itself.","operationId":"DELETE/balance-journal-entries/collection-entries","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"BalanceJournalEntryCollectionId","in":"query","description":"Collection Id for the balance journal entries","required":true,"type":"string","format":"uuid"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DeleteGenericResponse"}}}}},"/balance-journal-entries/customer/export":{"post":{"tags":["balance-journal-entries"],"summary":"Export beginning balance journal entries.","operationId":"POST/balance-journal-entries/customer/export","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"PagingRequest`1","in":"body","description":"Request data to create beginning BJE records.","required":true,"schema":{"$ref":"#/definitions/PagingRequest[ExportCustomerBeginningBalanceJournalEntriesPostRequest]"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagingResponse[ExportCustomerBeginningBalanceJournalEntryResponse]"}}}}},"/balance-journal-entries/customer/import":{"put":{"tags":["balance-journal-entries"],"summary":"Attempts to import the contents of the file BalanceJournalEntries","operationId":"PUT/balance-journal-entries/customer/import","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"BalanceJournalEntriesPutRequest","in":"body","description":"Contains the information needed to create BJE records","required":true,"schema":{"$ref":"#/definitions/BalanceJournalEntriesPutRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ImportBalanceJournalEntryResponse"}}}}},"/balance-journal-entries/list-collections":{"get":{"tags":["balance-journal-entries"],"summary":"Returns data for all journal entry collections.","operationId":"GET/balance-journal-entries/list-collections","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"Skip","in":"query","description":"Record offset. Defaults to zero.","required":false,"type":"integer","format":"int32"},{"name":"Top","in":"query","description":"Maximum records in a page.","required":false,"type":"integer","format":"int32"},{"name":"TotalRecords","in":"query","description":"If you already know the total number of records in the result set, it will not try to count them again.","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagingResponse[BalanceJournalEntryCollectionResponse]"}}}}},"/balance-journal-entries/post-collection":{"post":{"tags":["balance-journal-entries"],"summary":"Posts all balance journal entries in a given collection.","operationId":"POST/balance-journal-entries/post-collection","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"BalanceJournalEntriesPostingPostRequest","in":"body","description":"Contains info on the journal entry collection being posted.","required":true,"schema":{"$ref":"#/definitions/BalanceJournalEntriesPostingPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BalanceJournalEntriesPostingResponse"}}}}},"/bank-accounts":{"get":{"tags":["bank-accounts"],"summary":"Gets all banks that are enabled to be shown","operationId":"GET/bank-accounts","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"ShowHidden","in":"query","description":"List banks that are hidden when true.","required":false,"type":"boolean"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/BankAccountResponse"}}}}}},"/Banks":{"get":{"tags":["bank-accounts"],"summary":"DEPRECATED: please use 'GET /bank-accounts'","operationId":"GET/Banks","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"showHidden","in":"query","description":"List banks that are hidden when true","required":false,"type":"boolean"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/BankAccountResponse"}}}},"deprecated":true}},"/brokers":{"get":{"tags":["brokers"],"summary":"Gets a list of all brokers with pagination options.","operationId":"GET/brokers","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"Skip","in":"query","description":"Record offset. Defaults to zero.","required":false,"type":"integer","format":"int32"},{"name":"Top","in":"query","description":"Maximum records in a page.","required":false,"type":"integer","format":"int32"},{"name":"TotalRecords","in":"query","description":"If you already know the total number of records in the result set, it will not try to count them again.","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagingResponse[BrokerResponse]"}}}}},"/brokers/search":{"post":{"tags":["brokers"],"summary":"Gets a list of search-filtered brokers with pagination options.","operationId":"POST/brokers/search","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"PagingRequest`1","in":"body","description":"Contains the search parameters and pagination options.","required":true,"schema":{"$ref":"#/definitions/PagingRequest[BrokersSearchPostRequest]"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagingResponse[BrokerResponse]"}}}}},"/business-units/business-units-in-group/{buGroupId}":{"get":{"tags":["business-units"],"summary":"Gets business units","operationId":"GET/business-units/business-units-in-group/{buGroupId}","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"buGroupId","in":"path","description":"The business unit group identifier","required":true,"type":"string","format":"uuid"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/BusinessUnitResponse"}}}}}},"/business-units/employee/divisions":{"get":{"tags":["business-units"],"summary":"Get business unit divisions that an employee has access to","operationId":"GET/business-units/employee/divisions","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/BusinessUnitDivisionResponse"}}}}}},"/business-units/groups":{"get":{"tags":["business-units"],"summary":"Getting business unit access groups","operationId":"GET/business-units/groups","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/BusinessUnitAccessGroupResponse"}}}}}},"/businessUnit/businessUnitsInGroup/{buUnitGroupId}":{"get":{"tags":["business-units"],"summary":"DEPRECATED: please use 'GET /business-units/business-units-in-group/{buGroupId}'","operationId":"GET/businessUnit/businessUnitsInGroup/{buUnitGroupId}","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"buUnitGroupId","in":"path","description":"The business unit group identifier","required":true,"type":"string","format":"uuid"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/BusinessUnitResponse"}}}},"deprecated":true}},"/businessUnit/groups":{"get":{"tags":["business-units"],"summary":"DEPRECATED: please use 'GET /business-units/groups'","operationId":"GET/businessUnit/groups","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/BusinessUnitAccessGroupResponse"}}}},"deprecated":true}},"/companies":{"get":{"tags":["companies"],"summary":"Gets all companies that are enabled to be shown","operationId":"GET/companies","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"CompanyCode","in":"query","description":"The 3 character code of the Company you want to return instead of all companies.","required":false,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/CompanyResponse"}}}}}},"/companies/addresses":{"get":{"tags":["companies"],"summary":"Gets all company addresses","operationId":"GET/companies/addresses","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"CompanyCode","in":"query","description":"The 3 character code of the Company you want to filter by.","required":false,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/CompanyAddressResponse"}}}}}},"/companyAddresses":{"get":{"tags":["companies"],"summary":"DEPRECATED: please use 'GET /companies/addresses'","operationId":"GET/companyAddresses","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"companyCode","in":"query","description":"The 3 character code of the Company you want to filter by","required":false,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/CompanyAddressResponse"}}}},"deprecated":true}},"/sms/conversations/{contactPhone}/status":{"post":{"tags":["conversations (sms)"],"summary":"Sets the status of a conversation in the AMS360 db","operationId":"POST/sms/conversations/{contactPhone}/status","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"ConversationStatusPostRequest","in":"body","description":"Model containing data for updating the status of a conversation.","required":true,"schema":{"$ref":"#/definitions/ConversationStatusPostRequest"}},{"name":"contactPhone","in":"path","description":"The contact phone number of the conversation to be modified.","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ConversationResponse"}}}}},"/sms/conversations/count":{"get":{"tags":["conversations (sms)"],"summary":"Returns the count of conversations available for the user","operationId":"GET/sms/conversations/count","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ConversationCountResponse"}}}}},"/agencies":{"post":{"tags":["agency"],"summary":"Gets list of agencies from SiteDB based on AgencyNo or AgencyName","operationId":"POST/agencies","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"AgenciesPostRequest","in":"body","description":"Agency search parameters.","required":true,"schema":{"$ref":"#/definitions/AgenciesPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/AgencyResponse"}}}}}},"/customer":{"get":{"tags":["customers"],"summary":"Gets detailed information for a single customer, prospect, or suspect by CustomerId or CustomerNumber.","operationId":"GET/customer","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"CustomerId","in":"query","description":"Unique identifier for retrieving a customer's full information.","required":false,"type":"string","format":"uuid"},{"name":"CustomerNumber","in":"query","description":"Alternate unique identifier for retrieving a customer's full information.","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CustomerInfoResponse"}}}},"put":{"tags":["customers"],"summary":"Updates an existing Customer if the Id or number are present in the post model based on customer full information supplied.","description":"If both Customer Id and Number are supplied in the post request model, the Customer Id will be used.","operationId":"PUT/customer","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"CustomerInfoPutRequest","in":"body","description":"Model containing the customer data.","required":true,"schema":{"$ref":"#/definitions/CustomerInfoPutRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CustomerIdResponse"}}}},"post":{"tags":["customers"],"summary":"creates a new customer based on the information provided","operationId":"POST/customer","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"CustomerInfoPostRequest","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/CustomerInfoPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CustomerIdResponse"}}}}},"/customer-agencies/agency-details":{"get":{"tags":["customer-agencies"],"summary":"Returns Customer Agency data from SiteDB","operationId":"GET/customer-agencies/agency-details","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/CustomerAgencyDetailResponse"}}}}}},"/customer-agencies/search":{"post":{"tags":["customer-agencies"],"summary":"Returns paginated Customer Agency information from SiteDB","operationId":"POST/customer-agencies/search","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"PagingRequest`1","in":"body","description":"Criteria object to search/filter information on.","required":true,"schema":{"$ref":"#/definitions/PagingRequest[CustomerAgencySearchPostRequest]"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagingResponse[CustomerAgencyDetailResponse]"}}}}},"/customer/basic-info":{"put":{"tags":["customers"],"summary":"Updates an existing Customer if the Id or number are present in the post model based on basic information supplied.","description":"If both Customer Id and Number are supplied in the post request model, the Customer Id will be used.","operationId":"PUT/customer/basic-info","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"CustomerBasicInfoPutRequest","in":"body","description":"Model containing the customer data.","required":true,"schema":{"$ref":"#/definitions/CustomerBasicInfoPutRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CustomerIdResponse"}}}},"post":{"tags":["customers"],"summary":"Creates a new Customer based on basic information supplied.","operationId":"POST/customer/basic-info","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"CustomerBasicInfoPostRequest","in":"body","description":"Model containing the customer data.","required":true,"schema":{"$ref":"#/definitions/CustomerBasicInfoPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CustomerIdResponse"}}}}},"/customer/contacts":{"get":{"tags":["customers"],"summary":"Gets all customers with contacts for an agency. Can be based on Customer Id or Number.","operationId":"GET/customer/contacts","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"CustomerId","in":"query","description":"Optional. Filters returned results to only include those with a matching customer Id.","required":false,"type":"string","format":"uuid"},{"name":"CustomerNumber","in":"query","description":"Optional. Filters returned results to only include those with a matching customer number.","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/CustomerContactResponse"}}}}}},"/customer/groups":{"get":{"tags":["customers"],"summary":"Gets all of the reference groups associated with a customer.","operationId":"GET/customer/groups","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"CustomerId","in":"query","description":"The unique identifier of the customer.","required":true,"type":"string","format":"uuid"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/CustomerGroupResponse"}}}}}},"/customers/{contactPhone}":{"get":{"tags":["customers"],"summary":"Get customer information based on phone number.","operationId":"GET/customers/{contactPhone}","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"contactPhone","in":"path","description":"The phone number to search by.","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CustomerListResponse"}}}}},"/customers/{contactPhone}/cache":{"get":{"tags":["customers"],"summary":"This will trigger to update ContactPhoneCache table.","description":"Note: This method is used only for backward compatibility for 16r2 agencies.","operationId":"GET/customers/{contactPhone}/cache","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"contactPhone","in":"path","description":"The phone number to update.","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/CustomerResponse"}}}}}},"/customers/search":{"post":{"tags":["customers"],"summary":"Gets all basic information for customers, prospects and suspects for an agency.","description":"If both Customer Id and Number are supplied for the filter, the Customer Id will be used.","operationId":"POST/customers/search","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"PagingRequest`1","in":"body","description":"Model containing data used to get all customers or filter by customer number or Id.","required":true,"schema":{"$ref":"#/definitions/PagingRequest[CustomerFilterPostRequest]"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagingResponse[CustomerBasicInfoResponse]"}}}}},"/customers/secured-customers":{"get":{"tags":["customers"],"summary":"Get all secured customers by name only.","description":"This endpoint ignores business unit access and only returns secured customer names to avoid disclosing PII","operationId":"GET/customers/secured-customers","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SecuredCustomerBasicInfoResponse"}}}}}},"/customers/vim-users/{vimUserId}":{"get":{"tags":["customers"],"summary":"Gets customers accessible to an employee based on VimUserId. \r\nApplies employee and business unit security.","operationId":"GET/customers/vim-users/{vimUserId}","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"vimUserId","in":"path","description":"VSSO Id of the user.","required":true,"type":"integer","format":"int32"},{"name":"Skip","in":"query","description":"Record offset. Defaults to zero.","required":false,"type":"integer","format":"int32"},{"name":"Top","in":"query","description":"Maximum records in a page.","required":false,"type":"integer","format":"int32"},{"name":"TotalRecords","in":"query","description":"If you already know the total number of records in the result set, it will not try to count them again.","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagingResponse[CustomerResponse]"}}}}},"/customers-with-contacts-dependents/search":{"post":{"tags":["customers"],"summary":"Gets a list of customers with basic information plus lists of each customer's contacts and dependents.\r\nFor performance reasons, the TotalCount in the Paging request includes customers that are filtered out by the security filter\r\nif the logged in user does not have access to them","operationId":"POST/customers-with-contacts-dependents/search","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"PagingRequest`1","in":"body","description":"Model containing data used to get all customers, optionally filtered by Division.","required":true,"schema":{"$ref":"#/definitions/PagingRequest[DivisionFilterPostRequest]"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagingResponse[CustomerContactDependentResponse]"}}}}},"/sms/conversations":{"get":{"tags":["conversations (sms)"],"summary":"Gets the conversations available to the user","operationId":"GET/sms/conversations","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"DateFrom","in":"query","description":"An option parameter that, if provided, restricts the returned conversations to only those that have changed since this datetime.","required":false,"type":"string","format":"date-time"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ConversationResponse"}}}}}},"/customers":{"get":{"tags":["customers"],"summary":"DEPRECATED: Please use \"GET customers/search\"\r\nGets all customers for an agency including Prospects, Suspects and Customers.\r\nUpdated to return first 1K Customers vis Paged Search","operationId":"GET/customers","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"CustomerNumber","in":"query","description":"Optional. Filters returned results to only include those with a matching customer number.","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CustomerListResponse"}}},"deprecated":true}},"/customers/info":{"get":{"tags":["customers"],"summary":"DEPRECATED: Please use Post /customers/search\r\nGets all customers with addresses and phones for an agency.","operationId":"GET/customers/info","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/CustomerAdditionalInfoResponse"}}}},"deprecated":true}},"/sms/{contactPhone}/cache":{"get":{"tags":["customers"],"summary":"DEPRECATED: please use 'GET /customers/{contactPhone}/cache'","description":"Note: This method is used only for backward compatibility for 16r2 agencies.","operationId":"GET/sms/{contactPhone}/cache","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"contactPhone","in":"path","description":"The phone number to update","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/CustomerResponse"}}}},"deprecated":true}},"/sms/conversations/{contactPhone}/customers":{"get":{"tags":["customers"],"summary":"DEPRECATED: please use 'GET /customers/{contactPhone}'","operationId":"GET/sms/conversations/{contactPhone}/customers","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"contactPhone","in":"path","description":"The phone number to search by","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CustomerListResponse"}}},"deprecated":true}},"/vimUsers/{vimUserId}/customers":{"get":{"tags":["customers"],"summary":"DEPRECATED: please use 'GET /customers/vim-users/{vimUserId}'","operationId":"GET/vimUsers/{vimUserId}/customers","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"vimUserId","in":"path","description":"VSSO Id of the user","required":true,"type":"integer","format":"int32"},{"name":"Skip","in":"query","description":"Record offset. Defaults to zero.","required":false,"type":"integer","format":"int32"},{"name":"Top","in":"query","description":"Maximum records in a page.","required":false,"type":"integer","format":"int32"},{"name":"TotalRecords","in":"query","description":"If you already know the total number of records in the result set, it will not try to count them again.","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagingResponse[CustomerResponse]"}}},"deprecated":true}},"/download/ivans/accounts":{"get":{"tags":["download"],"summary":"Get all accounts","operationId":"GET/download/ivans/accounts","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"title":"IHttpActionResult","type":"object"}}}},"post":{"tags":["download"],"summary":"Update multiple Ivans accounts","operationId":"POST/download/ivans/accounts","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"IEnumerable`1","in":"body","description":"Collection of accounts to update.","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/IvansAccountPostRequest"}}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"title":"IHttpActionResult","type":"object"}}}}},"/e-forms/active-forms":{"get":{"tags":["e-forms"],"summary":"Gets a list of form information models for all active editions","operationId":"GET/e-forms/active-forms","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"LatestOnly","in":"query","description":"True to return only the latest editions of the forms, false return all active editions. The default is false.","required":false,"type":"boolean"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/AcordFormInfoResponse"}}}}}},"/e-forms/form-data":{"post":{"tags":["e-forms"],"summary":"Returns the requested data file for an ACORD eForm","operationId":"POST/e-forms/form-data","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"AcordDataPostRequest","in":"body","description":"A data request model used to identify the form data to create.","required":true,"schema":{"$ref":"#/definitions/AcordDataPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AcordFormResponse"}}}}},"/e-forms/resource":{"get":{"tags":["e-forms"],"summary":"Gets the requested resource file","operationId":"GET/e-forms/resource","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"ResourceName","in":"query","description":"Name of the eform resource.","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EformsDataResponse"}}}}},"/eform/activeFormList":{"get":{"tags":["e-forms"],"summary":"DEPRECATED: please use 'GET /e-forms/active-forms'","operationId":"GET/eform/activeFormList","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"latestOnly","in":"query","description":"True to return only the latest editions of the forms, false return all active editions. The default is false.","required":false,"type":"boolean"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/AcordFormInfoResponse"}}}},"deprecated":true}},"/eform/resource":{"get":{"tags":["e-forms"],"summary":"DEPRECATED: please use 'GET /e-forms/resource'","operationId":"GET/eform/resource","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"resourceName","in":"query","description":"Name of the eform resource","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EformsDataResponse"}}},"deprecated":true}},"/employee/business-units":{"get":{"tags":["employees"],"summary":"Get business units that an employee has access to","operationId":"GET/employee/business-units","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/BusinessUnitDetailResponse"
[...]
