{"swagger":"2.0","info":{"version":"v1","title":"EMS Services"},"host":"botd-ams360dev1.devop.vertafore.com","basePath":"/ems","schemes":["https"],"paths":{"/eform/data":{"post":{"tags":["acord-form-mapping"],"summary":"Returns the requested data file for an ACORD eForm","operationId":"POST/eform/data","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"AcordDataPostRequest","in":"body","description":"A data request model used to identify the form data to create.","required":true,"schema":{"$ref":"#/definitions/AcordDataPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AcordFormResponse"}}}}},"/activity":{"get":{"tags":["activities"],"summary":"GETs an Activity by its unique Id if it exists","operationId":"GET/activity","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"ActivityId","in":"query","required":true,"type":"string","format":"uuid"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SpecificActivityResponse"}}}},"post":{"tags":["activities"],"summary":"Creates an activity.","operationId":"POST/activity","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"ActivityPostRequest","in":"body","description":"Model containing the activity data.","required":true,"schema":{"$ref":"#/definitions/ActivityPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ActivityIdResponse"}}}}},"/activity/actions":{"get":{"tags":["activities"],"summary":"Returns a list of non-hidden Actions.","description":"See RestModels.ActivityModel for usage.\r\nNote context is not actually required, added only for possible use in security in the future\r\nand makes sure the caller has at least an agency context.\r\nThe Activity and Suspense use the same list but each have an endpoint to make it easier for the user.","operationId":"GET/activity/actions","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ActionResponse"}}}}},"put":{"tags":["activities"],"summary":"Updates any/all existing ActivityActions by matching Id","description":"See RestModels.Activity.ActivityActionUpdateResponse for usage.\r\nNote context is not actually required, added only for possible use in security in the future\r\nand makes sure the caller has at least an agency context.","operationId":"PUT/activity/actions","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"List`1","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/ActivityActionPutRequest"}}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ActivityActionUpdateResponse"}}}}}},"/activity/agency-url/create":{"get":{"tags":["activities"],"summary":"Creates the Url to the appropriate Agency Activity page in 360","operationId":"GET/activity/agency-url/create","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"EntityType","in":"query","required":true,"type":"string"},{"name":"EntityId","in":"query","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ActivityUrlResponse"}}}}},"/activity/attachment":{"post":{"tags":["activities"],"summary":"POSTs a new Activity/Document Attachment by Activity/Transaction Id.","operationId":"POST/activity/attachment","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"AppendAttachmentPostRequest","in":"body","description":"The new Activity/Document attachment to be appended","required":true,"schema":{"$ref":"#/definitions/AppendAttachmentPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DocAttachmentIdResponse"}}}}},"/activity/attachment-data":{"get":{"tags":["activities"],"summary":"GETs a Activity/Document Attachment's stored Image Data by Image Id.\r\nIf the image data is compressed, it will be decompressed prior to being returned.","operationId":"GET/activity/attachment-data","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"DataId","in":"query","required":false,"type":"string","format":"uuid"},{"name":"Base64Encode","in":"query","required":false,"type":"boolean"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DocAttachmentDataResponse"}}}}},"/activity/attachment-info":{"get":{"tags":["activities"],"summary":"GETs a Activity/Document Attachment's Details by Attachment Id.","operationId":"GET/activity/attachment-info","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"AttachmentId","in":"query","required":false,"type":"string","format":"uuid"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/DocAttachmentResponse"}}}}}},"/activity/claim":{"post":{"tags":["activities"],"summary":"Creates a Claim Activity.","operationId":"POST/activity/claim","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"ActivityClaimPostRequest","in":"body","description":"Claim activity to create","required":true,"schema":{"$ref":"#/definitions/ActivityClaimPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ActivityClaimResponse"}}}}},"/activity/comment":{"post":{"tags":["activities"],"summary":"POSTs a new Activity/Transaction Comment by Activity/Transaction Id.","operationId":"POST/activity/comment","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"ActivityCommentPostRequest","in":"body","description":"The new Activity/Transaction Comment to be added","required":true,"schema":{"$ref":"#/definitions/ActivityCommentPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ActivityCommentResponse"}}}}},"/activity/e-docs":{"post":{"tags":["activities"],"summary":"Creates an activity from an EDocs model.","operationId":"POST/activity/e-docs","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"EdocsActivityPostRequest","in":"body","description":"EDocs Activity","required":true,"schema":{"$ref":"#/definitions/EdocsActivityPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EdocsActivityResponse"}},"400":{"description":"When model validation failed","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Internal Server Exception","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/activity/entity-types":{"get":{"tags":["activities"],"summary":"Returns a list of Entity Types used to associate an activity. For instance to a customer or Policy.","description":"See RestModels.ActivityModel for usage.\r\nNote context is not actually required, added only for possible use in security in the future\r\nand makes sure the caller has at least an agency context.\r\nThe Activity and Suspense use the same list but each have an endpoint to make it easier for the user.","operationId":"GET/activity/entity-types","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/EntityTypeResponse"}}}}}},"/activity/policy":{"get":{"tags":["activities"],"summary":"GETs a list of Policy Activities.\r\nThese are associated to the Customer Entity Type, and must have PolicyId.","operationId":"GET/activity/policy","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"PolicyId","in":"query","required":false,"type":"string","format":"uuid"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/PolicyActivityResponse"}}}}},"post":{"tags":["activities"],"summary":"POSTs a Policy Activities.\r\nThat being an activity/transaction associated to the Customer Entity Type and a PolicyId.","operationId":"POST/activity/policy","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"PolicyActivityPostRequest","in":"body","description":"The POST request model for Policy Activity from the request body","required":true,"schema":{"$ref":"#/definitions/PolicyActivityPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ActivityIdResponse"}}}}},"/activity/claimActivity":{"post":{"tags":["activities"],"summary":"DEPRECATED: please use 'POST /activity/claim'","operationId":"POST/activity/claimActivity","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"ActivityClaimPostRequest","in":"body","description":"claim activity to create","required":true,"schema":{"$ref":"#/definitions/ActivityClaimPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"format":"uuid","type":"string","example":"00000000-0000-0000-0000-000000000000"}}},"deprecated":true}},"/activity/createUrl":{"get":{"tags":["activities"],"summary":"DEPRECATED: please use 'GET /activity/agency-url/create'","operationId":"GET/activity/createUrl","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"entityType","in":"query","description":"The type of 360 Entity (e.g. Employee, Company, Customer)","required":true,"type":"string"},{"name":"entityId","in":"query","description":"The Guid or Sequence No of the entity","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}},"deprecated":true}},"/activity/entityTypes":{"get":{"tags":["activities"],"summary":"DEPRECATED: please use 'GET /activity/entity-types'","description":"See RestModels.ActivityModel for usage.\r\nNote context is not actually required, added only for possible use in security in the future\r\nand makes sure the caller has at least an agency context.\r\nThe Activity and Suspense use the same list but each have an endpoint to make it easier for the user.","operationId":"GET/activity/entityTypes","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"string"}}}},"deprecated":true}},"/edocs/activity":{"post":{"tags":["activities"],"summary":"DEPRECATED: please use 'POST /activity/e-docs'","operationId":"POST/edocs/activity","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"EdocsActivityPostRequest","in":"body","description":"EDocs Activity","required":true,"schema":{"$ref":"#/definitions/EdocsActivityPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"format":"uuid","type":"string","example":"00000000-0000-0000-0000-000000000000"}},"400":{"description":"When model validation failed","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Internal Server Exception","schema":{"$ref":"#/definitions/ErrorResponse"}}},"deprecated":true}},"/agencies":{"post":{"tags":["agency"],"summary":"Gets list of agencies from SiteDB based on AgencyNo or AgencyName","operationId":"POST/agencies","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"AgenciesPostRequest","in":"body","description":"Agency search parameters.","required":true,"schema":{"$ref":"#/definitions/AgenciesPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/AgencyResponse"}}}}}},"/agency/base-url":{"get":{"tags":["agency"],"summary":"Returns a string representing the base Url for an agency","operationId":"GET/agency/base-url","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AgencyUrlResponse"}}}}},"/agency/details":{"get":{"tags":["agency"],"summary":"Get agency's details","operationId":"GET/agency/details","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"AgencyNo","in":"query","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AgencyResponse"}}}}},"/agency/download-info":{"get":{"tags":["agency"],"summary":"Get download information for an agency.","operationId":"GET/agency/download-info","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"title":"IHttpActionResult","type":"object"}}}},"post":{"tags":["agency"],"summary":"Updates Download Information for an agency.","operationId":"POST/agency/download-info","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"DownloadInformationPostRequest","in":"body","description":"Model containing identifiers used to update agency download information.","required":true,"schema":{"$ref":"#/definitions/DownloadInformationPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"title":"IHttpActionResult","type":"object"}}}}},"/agency/employees":{"get":{"tags":["agency"],"summary":"Gets active employees for the agency","operationId":"GET/agency/employees","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EmployeeListResponse"}}}}},"/agency/global-tenant-id":{"post":{"tags":["agency"],"summary":"Retrieves GlobalTenantId(GTID) from AgencyDB. If it does not exist in the DB then calls GlobalTenantId service to fetch the GTID.\r\nThe GTID is saved in Agency DB so further calls will just return the value from DB. \r\nThe value is saved in the DB only for agencies with version 18.1 and above.","operationId":"POST/agency/global-tenant-id","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"GlobalTenantIdPostRequest","in":"body","description":"Model contains the data required to fetch the GTID","required":true,"schema":{"$ref":"#/definitions/GlobalTenantIdPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GlobalTenantIdResponse"}}}}},"/agency/global-tenant-ids":{"get":{"tags":["agency"],"summary":"Retrieves all global tenant Ids for provided Ivans credentials. Ivans credentials should be passed in token.","operationId":"GET/agency/global-tenant-ids","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GlobalTenantIdsResponse"}},"400":{"description":"When request data parameters are not valid","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"When no GTIDs are found","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Server exception","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/agency/baseUrl":{"get":{"tags":["agency"],"summary":"DEPRECATED: please use 'GET /agency/base-url'","operationId":"GET/agency/baseUrl","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"string"}}},"deprecated":true}},"/agency/detail":{"get":{"tags":["agency"],"summary":"DEPRECATED: please use 'GET /agency/details'","operationId":"GET/agency/detail","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"agencyNo","in":"query","description":"Agency Number","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AgencyResponse"}}},"deprecated":true}},"/agency/downloadInfo":{"get":{"tags":["agency"],"summary":"DEPRECATED: please use 'GET /agency/download-info'","operationId":"GET/agency/downloadInfo","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"title":"IHttpActionResult","type":"object"}}},"deprecated":true},"post":{"tags":["agency"],"summary":"DEPRECATED: please use 'POST /agency/download-info'","operationId":"POST/agency/downloadInfo","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"DownloadInformationPostRequest","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/DownloadInformationPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"title":"IHttpActionResult","type":"object"}}},"deprecated":true}},"/agency/search":{"post":{"tags":["agency"],"summary":"DEPRECATED: please use 'POST /agencies'","operationId":"POST/agency/search","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"AgenciesPostRequest","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/AgenciesPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/AgencyResponse"}}}},"deprecated":true}},"/globalTenantId":{"post":{"tags":["agency"],"summary":"DEPRECATED: please use 'POST /global-tenant-id'","description":"Retrieves GlobalTenantId(GTID) from AgencyDB. If it does not exist in the DB then calls GlobalTenantId service to fetch the GTID based on \r\nfollowing parameters\r\n    1. AMSCustId\r\n    2. AgencyNo (InstanceId)\r\n    3. ApplicationId\r\nThe GTID is saved in Agency DB so further calls will just return the value from DB. \r\nThe value is saved in the DB only for agencies with version 18.1 and above.","operationId":"POST/globalTenantId","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"String","in":"body","description":"The data required to fetch the GTID","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}},"deprecated":true}},"/globalTenantId/getAllGTIDsByIvans":{"get":{"tags":["agency"],"summary":"DEPRECATED: please use 'GET /global-tenant-ids'","operationId":"GET/globalTenantId/getAllGTIDsByIvans","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"title":"Dictionary`2","type":"object","additionalProperties":{"type":"string"}}},"400":{"description":"When request data parameters are not valid","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"When no GTIDs are found","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Server exception","schema":{"$ref":"#/definitions/ErrorResponse"}}},"deprecated":true}},"/auth":{"post":{"tags":["authentication"],"summary":"The *new* first endpoint an EMS External User needs to hit to be authenticated\r\nGets a temporary loginKey when provided an applicationKey from an EMS External User. \r\nThe temporary loginKey is returned for use in a subsequent request to retrieve an accessToken.","operationId":"POST/auth","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"AuthAppKeyPostRequest","in":"body","description":"The secret app key that is configured in ACC for use by integrating applications requiring access to EMS.","required":true,"schema":{"$ref":"#/definitions/AuthAppKeyPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LoginKeyResponse"}}}}},"/auth/app/login":{"post":{"tags":["authentication"],"summary":"An endpoint that takes application's login credentials for validation.\r\nOnce the credentials are accepted, responds with a model containing tokens for temporary use of EMS.","operationId":"POST/auth/app/login","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"LoginPostRequest","in":"body","description":"A LoginRequestModel containing the login credentials to be validated","required":true,"schema":{"$ref":"#/definitions/LoginPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LoginResponse"}}}}},"/auth/refresh":{"get":{"tags":["authentication"],"summary":"Endpoint used to \"refresh\" access tokens\r\nIf provided a set of valid access and refresh tokens, a new refresh and access token will be returned","operationId":"GET/auth/refresh","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"RefreshToken","in":"query","required":true,"type":"string","format":"uuid"},{"name":"AccessToken","in":"query","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"title":"HttpResponseMessage","type":"object"}}}}},"/auth/user/login":{"post":{"tags":["authentication"],"summary":"An endpoint that takes a user's login credentials for validation.\r\nOnce the credentials are accepted, responds with a model containing tokens for temporary use of EMS.","operationId":"POST/auth/user/login","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"LoginPostRequest","in":"body","description":"A LoginRequestModel containing the login credentials to be validated","required":true,"schema":{"$ref":"#/definitions/LoginPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LoginResponse"}}}}},"/auth/vertafore-app/login":{"post":{"tags":["authentication"],"summary":"An endpoint that takes a Vertafore application's login credentials for validation.\r\nOnce the credentials are accepted, responds with a model containing tokens for temporary use of EMS.","operationId":"POST/auth/vertafore-app/login","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"LoginPostRequest","in":"body","description":"A model containing the login credentials to be validated","required":true,"schema":{"$ref":"#/definitions/LoginPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LoginResponse"}}}}},"/Auth":{"get":{"tags":["authentication"],"summary":"The first endpoint an EMS External User needs to hit to be authenticated\r\nGets an EMSLoginGuid when provided a secret key from an EMS External User. \r\nThe EMSLoginGuid is returned to for use with LoginAsUser","operationId":"GET/Auth","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"secretKey","in":"query","required":true,"type":"string","format":"uuid"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"title":"HttpResponseMessage","type":"object"}}},"deprecated":true}},"/auth/login":{"get":{"tags":["authentication"],"summary":"The second endpoint an EMS External User needs to hit to be authenticated\r\nReturns a JWT access token and refresh token for the external user to use in future requests\r\nEndpoint is used for both Native and VSSO authentication","operationId":"GET/auth/login","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"loginGuid","in":"query","required":true,"type":"string","format":"uuid"},{"name":"agencyNumber","in":"query","required":true,"type":"string"},{"name":"username","in":"query","required":true,"type":"string"},{"name":"password","in":"query","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LoginResponse"}}},"deprecated":true}},"/auth/loginApp":{"post":{"tags":["authentication"],"summary":"DEPRECATED: please use 'POST /auth/app/login'","operationId":"POST/auth/loginApp","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"LoginPostRequest","in":"body","description":"A LoginRequestModel containing the login credentials to be validated","required":true,"schema":{"$ref":"#/definitions/LoginPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LoginResponse"}}},"deprecated":true}},"/auth/loginUser":{"post":{"tags":["authentication"],"summary":"DEPRECATED: please use 'POST /auth/user/login'","operationId":"POST/auth/loginUser","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"LoginPostRequest","in":"body","description":"A LoginRequestModel containing the login credentials to be validated","required":true,"schema":{"$ref":"#/definitions/LoginPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LoginResponse"}}},"deprecated":true}},"/auth/loginVertaforeApp":{"post":{"tags":["authentication"],"summary":"DEPRECATED: please use 'POST /auth/vertafore-app/login'","operationId":"POST/auth/loginVertaforeApp","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"LoginPostRequest","in":"body","description":"A model containing the login credentials to be validated","required":true,"schema":{"$ref":"#/definitions/LoginPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LoginResponse"}}},"deprecated":true}},"/bank-accounts":{"get":{"tags":["bank-accounts"],"summary":"Gets all banks that are enabled to be shown","operationId":"GET/bank-accounts","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"ShowHidden","in":"query","required":false,"type":"boolean"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/BankAccountResponse"}}}}}},"/Banks":{"get":{"tags":["bank-accounts"],"summary":"DEPRECATED: please use 'GET /bank-accounts'","operationId":"GET/Banks","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"showHidden","in":"query","description":"List banks that are hidden when true","required":false,"type":"boolean"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/BankAccountResponse"}}}},"deprecated":true}},"/business-units/business-units-in-group/{buGroupId}":{"get":{"tags":["business-units"],"summary":"Gets business units","operationId":"GET/business-units/business-units-in-group/{buGroupId}","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"buGroupId","in":"path","description":"The business unit group identifier<br><br>[Validation Requirements]<br>The buGroupId must not equal its default value.","required":true,"type":"string","format":"uuid"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/BusinessUnitResponse"}}}}}},"/business-units/employee/divisions":{"get":{"tags":["business-units"],"summary":"Get business unit divisions that an employee has access to","operationId":"GET/business-units/employee/divisions","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/BusinessUnitDivisionResponse"}}}}}},"/business-units/groups":{"get":{"tags":["business-units"],"summary":"Getting business unit access groups","operationId":"GET/business-units/groups","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/BusinessUnitAccessGroupResponse"}}}}}},"/businessUnit/businessUnitsInGroup/{buUnitGroupId}":{"get":{"tags":["business-units"],"summary":"DEPRECATED: please use 'GET /business-units/business-units-in-group/{buGroupId}'","operationId":"GET/businessUnit/businessUnitsInGroup/{buUnitGroupId}","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"buUnitGroupId","in":"path","description":"The business unit group identifier<br><br>[Validation Requirements]<br>The buUnitGroupId must not equal its default value.","required":true,"type":"string","format":"uuid"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/BusinessUnitResponse"}}}},"deprecated":true}},"/businessUnit/groups":{"get":{"tags":["business-units"],"summary":"DEPRECATED: please use 'GET /business-units/groups'","operationId":"GET/businessUnit/groups","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/BusinessUnitAccessGroupResponse"}}}},"deprecated":true}},"/companies":{"get":{"tags":["companies"],"summary":"Gets all companies that are enabled to be shown","operationId":"GET/companies","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"CompanyCode","in":"query","required":false,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/CompanyResponse"}}}}}},"/companies/addresses":{"get":{"tags":["companies"],"summary":"Gets all company addresses","operationId":"GET/companies/addresses","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"CompanyCode","in":"query","required":false,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/CompanyAddressResponse"}}}}}},"/companyAddresses":{"get":{"tags":["companies"],"summary":"DEPRECATED: please use 'GET /companies/addresses'","operationId":"GET/companyAddresses","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"companyCode","in":"query","description":"The 3 character code of the Company you want to filter by","required":false,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/CompanyAddressResponse"}}}},"deprecated":true}},"/sms/conversations/{contactPhone}/status":{"post":{"tags":["conversations (sms)"],"summary":"Sets the status of a conversation in the AMS360 db","operationId":"POST/sms/conversations/{contactPhone}/status","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"ConversationStatusPostRequest","in":"body","description":"Model containing data for updating the status of a conversation.","required":true,"schema":{"$ref":"#/definitions/ConversationStatusPostRequest"}},{"name":"contactPhone","in":"path","description":"The contact phone number of the conversation to be modified.","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ConversationResponse"}}}}},"/sms/conversations/count":{"get":{"tags":["conversations (sms)"],"summary":"Returns the count of conversations available for the user","operationId":"GET/sms/conversations/count","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ConversationCountResponse"}}}}},"/customer/contacts":{"get":{"tags":["customers"],"summary":"Gets all customers with contacts for an agency. Can be based on Customer Id or Number","operationId":"GET/customer/contacts","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"CustomerId","in":"query","required":false,"type":"string","format":"uuid"},{"name":"CustomerNumber","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/CustomerContactResponse"}}}}}},"/customers":{"get":{"tags":["customers"],"summary":"Gets all customers for an agency","operationId":"GET/customers","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"CustomerNumber","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CustomerListResponse"}}}}},"/customers/{contactPhone}":{"get":{"tags":["customers"],"summary":"Get customer information based on phone number","operationId":"GET/customers/{contactPhone}","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"contactPhone","in":"path","description":"The phone number to search by","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CustomerListResponse"}}}}},"/customers/{contactPhone}/cache":{"get":{"tags":["customers"],"summary":"This will trigger to update ContactPhoneCache table.","description":"Note: This method is used only for backward compatibility for 16r2 agencies.","operationId":"GET/customers/{contactPhone}/cache","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"contactPhone","in":"path","description":"The phone number to update","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/CustomerResponse"}}}}}},"/customers/vim-users/{vimUserId}":{"get":{"tags":["customers"],"summary":"Gets customers accessible to an employee based on VimUserId\r\napplies employee and business unit security","operationId":"GET/customers/vim-users/{vimUserId}","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"vimUserId","in":"path","description":"VSSO Id of the user","required":true,"type":"integer","format":"int32"},{"name":"Skip","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Top","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageResultResponse[CustomerResponse]"}}}}},"/sms/conversations":{"get":{"tags":["conversations (sms)"],"summary":"Gets the conversations available to the user","operationId":"GET/sms/conversations","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"DateFrom","in":"query","required":false,"type":"string","format":"date-time"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ConversationResponse"}}}}}},"/sms/{contactPhone}/cache":{"get":{"tags":["customers"],"summary":"DEPRECATED: please use 'GET /customers/{contactPhone}/cache'","description":"Note: This method is used only for backward compatibility for 16r2 agencies.","operationId":"GET/sms/{contactPhone}/cache","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"contactPhone","in":"path","description":"The phone number to update","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/CustomerResponse"}}}},"deprecated":true}},"/sms/conversations/{contactPhone}/customers":{"get":{"tags":["customers"],"summary":"DEPRECATED: please use 'GET /customers/{contactPhone}'","operationId":"GET/sms/conversations/{contactPhone}/customers","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"contactPhone","in":"path","description":"The phone number to search by","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CustomerListResponse"}}},"deprecated":true}},"/vimUsers/{vimUserId}/customers":{"get":{"tags":["customers"],"summary":"DEPRECATED: please use 'GET /customers/vim-users/{vimUserId}'","operationId":"GET/vimUsers/{vimUserId}/customers","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"vimUserId","in":"path","description":"VSSO Id of the user","required":true,"type":"integer","format":"int32"},{"name":"Skip","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Top","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageResultResponse[CustomerResponse]"}}},"deprecated":true}},"/download/ivans/accounts":{"get":{"tags":["download"],"summary":"Get all accounts","operationId":"GET/download/ivans/accounts","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"title":"IHttpActionResult","type":"object"}}}},"post":{"tags":["download"],"summary":"Update multiple Ivans accounts","operationId":"POST/download/ivans/accounts","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"IEnumerable`1","in":"body","description":"Collection of accounts to update.","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/IvansAccountPostRequest"}}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"title":"IHttpActionResult","type":"object"}}}}},"/e-forms/active-forms":{"get":{"tags":["e-forms"],"summary":"Gets a list of form information models for all active editions","operationId":"GET/e-forms/active-forms","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"LatestOnly","in":"query","required":false,"type":"boolean"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/AcordFormInfoResponse"}}}}}},"/e-forms/resource":{"get":{"tags":["e-forms"],"summary":"Gets the requested resource file","operationId":"GET/e-forms/resource","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"ResourceName","in":"query","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"title":"HttpResponseMessage","type":"object"}}}}},"/eform/activeFormList":{"get":{"tags":["e-forms"],"summary":"DEPRECATED: please use 'GET /e-forms/active-forms'","operationId":"GET/eform/activeFormList","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"latestOnly","in":"query","description":"True to return only the latest editions of the forms, false return all active editions. The default is false.","required":false,"type":"boolean"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/AcordFormInfoResponse"}}}},"deprecated":true}},"/eform/resource":{"get":{"tags":["e-forms"],"summary":"DEPRECATED: please use 'GET /e-forms/resource'","operationId":"GET/eform/resource","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"resourceName","in":"query","description":"Name of the eform resource","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"title":"HttpResponseMessage","type":"object"}}},"deprecated":true}},"/error-logs":{"post":{"tags":["error-logs"],"summary":"Get logs from AFW_EventLog table\r\nAFW_EventLog exists only in 20r1 and newer databases","operationId":"POST/error-logs","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"ErrorLogsPostRequest","in":"body","description":"Filters for the search","required":true,"schema":{"$ref":"#/definitions/ErrorLogsPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorLogsResponse"}}},"400":{"description":"When model validation failed","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Internal Server Exception","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/errorLogs":{"post":{"tags":["error-logs"],"summary":"DEPRECATED: please use 'POST /error-logs'","operationId":"POST/errorLogs","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"ErrorLogsPostRequest","in":"body","description":"Filters for the search","required":true,"schema":{"$ref":"#/definitions/ErrorLogsPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorLogsResponse"}}},"400":{"description":"When model validation failed","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Internal Server Exception","schema":{"$ref":"#/definitions/ErrorResponse"}}},"deprecated":true}},"/features":{"get":{"tags":["features"],"summary":"Get the availability of all EMS features.","operationId":"GET/features","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/FeatureAvailabilityResponse"}}}}}},"/features/{featureName}":{"get":{"tags":["features"],"summary":"Get the availability of a specific EMS feature.","operationId":"GET/features/{featureName}","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"featureName","in":"path","description":"The feature name<br><br>[Validation Requirements]<br>The featureName must be a string and must not be null or white space.","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/FeatureAvailabilityResponse"}}}}},"/health-check":{"get":{"tags":["health-check"],"summary":"Health Check API default Index","operationId":"GET/health-check","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"title":"HttpResponseMessage","type":"object"}}}}},"/healthCheck":{"get":{"tags":["health-check"],"summary":"DEPRECATED: please use 'GET /health-check'","operationId":"GET/healthCheck","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"title":"HttpResponseMessage","type":"object"}}},"deprecated":true}},"/invoices":{"post":{"tags":["invoices"],"summary":"Gets all invoices for a customer","operationId":"POST/invoices","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"InvoicesSearchFilterPostRequest","in":"body","description":"Model containing identifiers used to filter invoices.","required":true,"schema":{"$ref":"#/definitions/InvoicesSearchFilterPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/InvoiceResponse"}}}}}},"/invoices/direct-bill-invoice":{"post":{"tags":["invoices"],"summary":"Posts an invoice for a customer","operationId":"POST/invoices/direct-bill-invoice","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"InvoicePostRequest","in":"body","description":"Invoice request object","required":true,"schema":{"$ref":"#/definitions/InvoicePostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/InvoicePostResponse"}},"400":{"description":"When model validation failed","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/invoices/direct-bill-invoice-collection":{"get":{"tags":["invoices"],"summary":"Retrieves invoice statuses for the invoice collection","operationId":"GET/invoices/direct-bill-invoice-collection","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"CollectionId","in":"query","required":false,"type":"string","format":"uuid"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CollectionStatusesResponse"}}}},"post":{"tags":["invoices"],"summary":"Updates/inserts a collection of invoices individually","operationId":"POST/invoices/direct-bill-invoice-collection","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"InvoiceCollectionPostRequest","in":"body","description":"A POST payload parameter with a collection of invoices.","required":true,"schema":{"$ref":"#/definitions/InvoiceCollectionPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/InvoiceCollectionResponse"}}}}},"/invoices/void":{"post":{"tags":["invoices"],"summary":"Voids an Invoice(s)","operationId":"POST/invoices/void","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"InvoiceVoidPostRequest","in":"body","description":"Void Invoice Request Model","required":true,"schema":{"$ref":"#/definitions/InvoiceVoidPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/InvoiceVoidResponse"}}}}},"/Invoices":{"get":{"tags":["invoices"],"summary":"DEPRECATED: please use 'POST /invoices'","operationId":"GET/Invoices","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"custId","in":"query","required":true,"type":"string","format":"uuid"},{"name":"billMethod","in":"query","required":false,"type":"string"},{"name":"cancelled","in":"query","required":false,"type":"boolean"},{"name":"posted","in":"query","required":false,"type":"boolean"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/InvoiceResponse"}}}},"deprecated":true}},"/invoices/directBillInvoice":{"post":{"tags":["invoices"],"summary":"DEPRECATED: please use 'POST /invoices/direct-bill-invoice'","operationId":"POST/invoices/directBillInvoice","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"InvoicePostRequest","in":"body","description":"Invoice request object","required":true,"schema":{"$ref":"#/definitions/InvoicePostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/InvoicePostResponse"}},"400":{"description":"When model validation failed","schema":{"$ref":"#/definitions/ErrorResponse"}}},"deprecated":true}},"/invoices/directBillInvoiceCollection":{"get":{"tags":["invoices"],"summary":"DEPRECATED: please use 'GET /invoices/direct-bill-invoice-collection'","operationId":"GET/invoices/directBillInvoiceCollection","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"collectionId","in":"query","description":"The Invoice Collection Id","required":true,"type":"string","format":"uuid"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CollectionStatusesResponse"}}},"deprecated":true},"post":{"tags":["invoices"],"summary":"DEPRECATED: please use 'POST /invoices/direct-bill-invoice-collection'","operationId":"POST/invoices/directBillInvoiceCollection","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"InvoiceCollectionPostRequest","in":"body","required":true,"schema":{"$ref":"#/definitions/InvoiceCollectionPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/InvoiceCollectionResponse"}}},"deprecated":true}},"/sms/conversations/{contactPhone}/messages":{"get":{"tags":["messages (sms)"],"summary":"Gets the messages for a specific conversation","operationId":"GET/sms/conversations/{contactPhone}/messages","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"contactPhone","in":"path","description":"The phone number of the client/contact for whom messages are wanted.<br><br>[Validation Requirements]<br>The contactPhone must be a whole number with 11 digits.","required":true,"type":"string"},{"name":"Size","in":"query","required":false,"type":"integer","format":"int32"},{"name":"FromMessageId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"FromDateCreated","in":"query","required":false,"type":"string","format":"date-time"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MessagePageResponse"}}}},"post":{"tags":["messages (sms)"],"summary":"Sends a new message from the agency in current context","operationId":"POST/sms/conversations/{contactPhone}/messages","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"MessagePostRequest","in":"body","description":"Representation of a single message.","required":true,"schema":{"$ref":"#/definitions/MessagePostRequest"}},{"name":"contactPhone","in":"path","description":"The phone number of client/contact to whom the message should go.<br><br>[Validation Requirements]<br>The contactPhone must be a whole number with 11 digits.","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MessageResponse"}}}}},"/sms/conversations/{contactPhone}/messages/{messageId}":{"get":{"tags":["messages (sms)"],"summary":"Gets a messages by message ID","operationId":"GET/sms/conversations/{contactPhone}/messages/{messageId}","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"messageId","in":"path","description":"The VMB ID for the message.","required":true,"type":"integer","format":"int64"},{"name":"contactPhone","in":"path","description":"The phone number of client/contact to whom the message should go.<br><br>[Validation Requirements]<br>The contactPhone must be a whole number with 11 digits.","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MessageResponse"}}}}},"/sms/conversations/{contactPhone}/messages/{messageId}/attachment/{attachmentId}":{"get":{"tags":["messages (sms)"],"summary":"Gets attachment by Message ID and Attachment ID","operationId":"GET/sms/conversations/{contactPhone}/messages/{messageId}/attachment/{attachmentId}","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"messageId","in":"path","description":"The message ID of the message.<br><br>[Validation Requirements]<br>The messageId must not equal its default value.","required":true,"type":"integer","format":"int64"},{"name":"attachmentId","in":"path","description":"The attachment ID or the message.<br><br>[Validation Requirements]<br>The attachmentId must be a string and must not be null or white space.","required":true,"type":"string"},{"name":"contactPhone","in":"path","description":"The phone number of client/contact to whom the message should go.<br><br>[Validation Requirements]<br>The contactPhone must be a whole number with 11 digits.","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"title":"HttpResponseMessage","type":"object"}}}}},"/notifications/message/process":{"post":{"tags":["outbound-notification-service"],"summary":"Receiver for messages from ONS for EMS to process and forward","description":"This controller is Anonymous because it is called by ONS which has not specific Agency or user context.\r\nThe context must be figured out later like the IVANS calls do.\r\n\r\nNote: There is a special URI \"https://ams360.local.vertafore.com/ems/notification/Test\" for testing.\r\nDo Not Use for real calls","operationId":"POST/notifications/message/process","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"NotificationMessagePostRequest","in":"body","description":"A message object that is used to create and send a notification to the receiving party","required":true,"schema":{"$ref":"#/definitions/NotificationMessagePostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"title":"HttpResponseMessage","type":"object"}}}}},"/lines-of-business":{"get":{"tags":["lines-of-business"],"summary":"Get a list of lines of business","operationId":"GET/lines-of-business","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"IncludeHidden","in":"query","required":false,"type":"boolean"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/LineOfBusinessSetupResponse"}}}}}},"/policies":{"get":{"tags":["policies"],"summary":"Gets all policies for a customer","operationId":"GET/policies","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"CustId","in":"query","required":true,"type":"string","format":"uuid"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/BasicPolicyInfoResponse"}}}}}},"/policies/billing-info":{"get":{"tags":["policies"],"summary":"Returns a list of Policy with basic billing information","operationId":"GET/policies/billing-info","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"CustId","in":"query","description":"<br>[Validation Requirements]<br>The CustId field is required.<br>The CustId must not equal its default value.","required":true,"type":"string","format":"uuid"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/CustomerViewPolicyInfoResponse"}}}}}},"/policy/claims":{"get":{"tags":["policies"],"summary":"Gets all claims for a Policy","operationId":"GET/policy/claims","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"PolId","in":"query","required":true,"type":"string","format":"uuid"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/PolicyClaimResponse"}}}}}},"/policy/contact":{"get":{"tags":["policies"],"summary":"Gets a list of non-deleted entries for a single policy contact by Id that can be associated to multiple Policies,\r\nand if optional Policy Id is provided it will return the specific entry for that Policy Contact tied to that Policy","operationId":"GET/policy/contact","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"PolicyContactId","in":"query","required":true,"type":"string","format":"uuid"},{"name":"PolicyId","in":"query","required":false,"type":"string","format":"uuid"},{"name":"IncludeContactsOnDeletedPolicies","in":"query","required":false,"type":"boolean"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/PolicyContactResponse"}}}}},"put":{"tags":["policies"],"summary":"Updates an existing non-deleted Policy Contact when the provided PolicyId and PolicyContactId exists","operationId":"PUT/policy/contact","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"PolicyContactPutRequest","in":"body","description":"The Policy Contact object that we need to update","required":true,"schema":{"$ref":"#/definitions/PolicyContactPutRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PolicyContactIdResponse"}}}},"post":{"tags":["policies"],"summary":"Adds a new Policy Contact if the provided Policy Id exists and is not deleted","operationId":"POST/policy/contact","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"PolicyContactPostRequest","in":"body","description":"The new Policy Contact object that we need to add","required":true,"schema":{"$ref":"#/definitions/PolicyContactPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PolicyContactIdResponse"}}}}},"/policy/contact/preference-types":{"get":{"tags":["policies"],"summary":"Gets all contact preferences associated to 'CCP' PrCode.AttrCode","operationId":"GET/policy/contact/preference-types","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"PreferenceDescription","in":"query","required":false,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/PrCodeResponse"}}}}}},"/policy/contacts":{"get":{"tags":["policies"],"summary":"Gets all non-deleted contacts associated to a Policy based on the Policy Id and optional Lob Id","operationId":"GET/policy/contacts","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"PolicyId","in":"query","required":true,"type":"string","format":"uuid"},{"name":"LobId","in":"query","required":false,"type":"string","format":"uuid"},{"name":"IncludeContactsOnDeletedPolicies","in":"query","required":false,"type":"boolean"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/PolicyContactResponse"}}}}}},"/policy/e-docs":{"get":{"tags":["policies"],"summary":"Finds a policy by an effective date, carrier's NAIC and policy number.","operationId":"GET/policy/e-docs","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"PolicyNo","in":"query","required":true,"type":"string"},{"name":"NaicCode","in":"query","required":true,"type":"string"},{"name":"PolicyEffectiveDate","in":"query","required":true,"type":"string","format":"date-time"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CustomerPolicyResponse"}},"400":{"description":"When request data parameters are not valid","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"When no Policy is matched","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"When more than one Policy is matched, no agencies matched or when any server exceptions","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/policy/e-docs/customer-id":{"get":{"tags":["policies"],"summary":"Gets the identifier for the customer on a given policy.","operationId":"GET/policy/e-docs/customer-id","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"PolicyNo","in":"query","required":true,"type":"string"},{"name":"NaicCode","in":"query","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CustomerIdResponse"}},"400":{"description":"When request data parameters are not valid","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"When no Policy is matched","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"When more than one Policy is matched, no agencies matched or when any server exceptions","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/policy/lines-of-business":{"get":{"tags":["policies"],"summary":"Gets all LOB Description associated to a Policy based on the Policy Id","operationId":"GET/policy/lines-of-business","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"PolicyId","in":"query","required":true,"type":"string","format":"uuid"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/LineOfBusinessResponse"}}}}}},"/policy/transactions":{"get":{"tags":["policies"],"summary":"Gets all transactions for a Policy","operationId":"GET/policy/transactions","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"PolId","in":"query","required":true,"type":"string","format":"uuid"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/PolicyTransactionResponse"}}}}}},"/edocs/policy/findByCarrierPolicyInfo":{"get":{"tags":["policies"],"summary":"DEPRECATED: please use 'GET /policy/e-docs'","operationId":"GET/edocs/policy/findByCarrierPolicyInfo","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"policyNo","in":"query","description":"The policy number to look up","required":true,"type":"string"},{"name":"naicCode","in":"query","description":"Carrier's NAIC","required":true,"type":"string"},{"name":"policyEffectiveDate","in":"query","description":"Policy Effective Date","required":true,"type":"string","format":"date-time"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CustomerPolicyResponse"}},"400":{"description":"When request data parameters are not valid","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"When no Policy is matched","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"When more than one Policy is matched, no agencies matched or when any server exceptions","schema":{"$ref":"#/definitions/ErrorResponse"}}},"deprecated":true}},"/edocs/policy/getCustomerIdByPolicyInfo":{"get":{"tags":["policies"],"summary":"DEPRECATED: please use 'GET /policy/e-docs/customer-id'","operationId":"GET/edocs/policy/getCustomerIdByPolicyInfo","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"policyNo","in":"query","description":"The policy number to look up","required":true,"type":"string"},{"name":"naicCode","in":"query","description":"The Carrier's NAIC code","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"400":{"description":"When request data parameters are not valid","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"When no Policy is matched","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"When more than one Policy is matched, no agencies matched or when any server exceptions","schema":{"$ref":"#/definitions/ErrorResponse"}}},"deprecated":true}},"/linesOfBusiness":{"get":{"tags":["lines-of-business"],"summary":"DEPRECATED: please use 'GET /lines-of-business'","operationId":"GET/linesOfBusiness","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"includeHidden","in":"query","description":"False (default) to only get active lines of business, True to get everything","required":false,"type":"boolean"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/LineOfBusinessSetupResponse"}}}},"deprecated":true}},"/policies/billingInfo":{"get":{"tags":["policies"],"summary":"DEPRECATED: please use 'GET /policies/billing-info'","operationId":"GET/policies/billingInfo","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"custId","in":"query","description":"The Customer Id to return the polices for","required":true,"type":"string","format":"uuid"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/CustomerViewPolicyInfoResponse"}}}},"deprecated":true}},"/policy/contact/add":{"post":{"tags":["policies"],"summary":"DEPRECATED: please use 'POST /policy/contact'","operationId":"POST/policy/contact/add","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"PolicyContactPostRequest","in":"body","description":"The new Policy Contact object that we need to add","required":true,"schema":{"$ref":"#/definitions/PolicyContactPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"format":"uuid","type":"string","example":"00000000-0000-0000-0000-000000000000"}}},"deprecated":true}},"/policy/contact/preferenceTypes":{"get":{"tags":["policies"],"summary":"DEPRECATED: please use 'GET /policy/contact/preference-types'","operationId":"GET/policy/contact/preferenceTypes","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"preferenceDescription","in":"query","description":"Optional input to filter by (could be a PRCode or Description).","required":false,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/PrCodeResponse"}}}},"deprecated":true}},"/policy/contact/update":{"put":{"tags":["policies"],"summary":"DEPRECATED: please use 'PUT /policy/contact'","operationId":"PUT/policy/contact/update","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"PolicyContactPutRequest","in":"body","description":"The Policy Contact object that we need to update","required":true,"schema":{"$ref":"#/definitions/PolicyContactPutRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"format":"uuid","type":"string","example":"00000000-0000-0000-0000-000000000000"}}},"deprecated":true}},"/policy/linesOfBusiness":{"get":{"tags":["policies"],"summary":"DEPRECATED: please use 'GET /policy/lines-of-business'","operationId":"GET/policy/linesOfBusiness","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"PolId","in":"query","description":"Filters returned results to only include LOB Description which are associated to the Policy Id.","required":true,"type":"string","format":"uuid"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/LineOfBusinessResponse"}}}},"deprecated":true}},"/sms/config":{"get":{"tags":["sms-configuration"],"summary":"Gets the default agency phone setup","description":"No Unit Test, Integration Test Only","operationId":"GET/sms/config","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SmsConfigResponse"}}}},"post":{"tags":["sms-configuration"],"summary":"Sets the agency phone setup status","operationId":"POST/sms/config","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"SmsConfigPostRequest","in":"body","description":"An object containing the new status.","required":true,"schema":{"$ref":"#/definitions/SmsConfigPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SmsConfigResponse"}}}}},"/sms/config/activate":{"post":{"tags":["sms-configuration"],"summary":"Activates an agency with the given phone number.","description":"If an existing active setup exists in AMS360 there is an error object returned.","operationId":"POST/sms/config/activate","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"SmsActivationPostRequest","in":"body","description":"An object describing the agency, phone number to register and whether to\r\n            \tregister only the data portion of the number.","required":true,"schema":{"$ref":"#/definitions/SmsActivationPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SmsConfigResponse"}}}}},"/sms/config/status":{"post":{"tags":["sms-configuration"],"summary":"Sets the agency phone setup status","operationId":"POST/sms/config/status","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"VmbEventPostRequest","in":"body","description":"A VMB event.","required":true,"schema":{"$ref":"#/definitions/VmbEventPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SmsConfigResponse"}}}}},"/submissions":{"get":{"tags":["submissions"],"summary":"Gets all submissions for a customer","operationId":"GET/submissions","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"CustId","in":"query","description":"<br>[Validation Requirements]<br>The CustId field is required.<br>The CustId must not equal its default value.","required":true,"type":"string","format":"uuid"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/BasicPolicyInfoResponse"}}}}}},"/suspense":{"post":{"tags":["suspenses"],"summary":"Creates a suspense.","operationId":"POST/suspense","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"SuspensePostRequest","in":"body","description":"The suspense to create.","required":true,"schema":{"$ref":"#/definitions/SuspensePostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuspenseIdResponse"}},"400":{"description":"When model validation failed","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Internal Server Exception","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/suspense/e-docs":{"post":{"tags":["suspenses"],"summary":"Creates a new suspense from an EDocs Suspense.","operationId":"POST/suspense/e-docs","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"EdocsSuspensePostRequest","in":"body","description":"The EDocs Suspense to create","required":true,"schema":{"$ref":"#/definitions/EdocsSuspensePostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuspenseIdResponse"}},"400":{"description":"When model validation failed","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Internal Server Exception","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/suspenses/actions":{"get":{"tags":["suspenses"],"summary":"Returns a list of non-hidden Actions.","description":"See RestModels.ActivityModel for usage.\r\nNote context is not actually required, added only for possible use in security in the future\r\nand makes sure the caller has at least an agency context.\r\nThe Activity and Suspense use the same list but each have an endpoint to make it easier for the user.","operationId":"GET/suspenses/actions","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ActionResponse"}}}}}},"/suspenses/entity-types":{"get":{"tags":["suspenses"],"summary":"Returns a list of Entity Types used to associate an suspense. For instance to a customer or Policy.","description":"See RestModels.ActivityModel for usage.\r\nNote context is not actually required, added only for possible use in security in the future\r\nand makes sure the caller has at least an agency context.\r\nThe Activity and Suspense use the same list but each have an endpoint to make it easier for the user.","operationId":"GET/suspenses/entity-types","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/EntityTypeResponse"}}}}}},"/Edocs/Suspense":{"post":{"tags":["suspenses"],"summary":"DEPRECATED: please use 'POST /suspense/e-docs'","operationId":"POST/Edocs/Suspense","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"EdocsSuspensePostRequest","in":"body","description":"The EDocs Suspense to create","required":true,"schema":{"$ref":"#/definitions/EdocsSuspensePostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"format":"uuid","type":"string","example":"00000000-0000-0000-0000-000000000000"}},"400":{"description":"When model validation failed","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Internal Server Exception","schema":{"$ref":"#/definitions/ErrorResponse"}}},"deprecated":true}},"/Suspense/Actions":{"get":{"tags":["suspenses"],"summary":"DEPRECATED: please use 'GET /suspenses/actions'","description":"See RestModels.ActivityModel for usage.\r\nNote context is not actually required, added only for possible use in security in the future\r\nand makes sure the caller has at least an agency context.\r\nThe Activity and Suspense use the same list but each have an endpoint to make it easier for the user.","operationId":"GET/Suspense/Actions","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ActionResponse"}}}},"deprecated":true}},"/Suspense/EntityTypes":{"get":{"tags":["suspenses"],"summary":"DEPRECATED: please use 'GET /suspenses/entity-types'","description":"See RestModels.ActivityModel for usage.\r\nNote context is not actually required, added only for possible use in security in the future\r\nand makes sure the caller has at least an agency context.\r\nThe Activity and Suspense use the same list but each have an endpoint to make it easier for the user.","operationId":"GET/Suspense/EntityTypes","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"string"}}}},"deprecated":true}},"/titan/data-envelope":{"put":{"tags":["titan"],"summary":"Takes a Json Titan Envelope containing a payload of data in a canonical form to be updated.\r\nAt this time, the payload could be relevant to either a Policy Contact or an Activity.","operationId":"PUT/titan/data-envelope","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"DataEnvelopeNotificationPutRequest","in":"body","description":"The Json Envelope containing some payload of data from Titan","required":true,"schema":{"$ref":"#/definitions/DataEnvelopeNotificationPutRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DataEnvelopeNotificationResponse"}}}}},"/titan/policy-activity":{"put":{"tags":["titan"],"summary":"Takes a Json Canonical Activity and attempts to add a new record to the DB if valid.","operationId":"PUT/titan/policy-activity","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"ActivityCanonicalPutRequest","in":"body","description":"The Activity Json to be used for adding","required":true,"schema":{"$ref":"#/definitions/ActivityCanonicalPutRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ActivityIdResponse"}}}}},"/titan/policy-contact":{"put":{"tags":["titan"],"summary":"Takes a Json Canonical Policy Contact, if a matching non-deleted record is found it is updated,\r\notherwise it will attempt to add a new record to the DB if valid.","operationId":"PUT/titan/policy-contact","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"PolicyContactCanonicalPutRequest","in":"body","description":"The Policy Contact Json that we need to use for update/add","required":true,"schema":{"$ref":"#/definitions/PolicyContactCanonicalPutRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/PolicyContactIdResponse"}}}}},"post":{"tags":["titan"],"summary":"Takes a Json Canonical Policy Contact from the request body and attempts to find all non-deleted AMS360 Policy Contact matches\r\nThis endpoint is a POST to follow the REST standard of utilizing a request body being received.","operationId":"POST/titan/policy-contact","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"PolicyContactCanonicalPostRequest","in":"body","description":"The Policy Contact Json that will be used to find an AMS360 PolContact","required":true,"schema":{"$ref":"#/definitions/PolicyContactCanonicalPostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/PolicyContactResponse"}}}}}},"/titan/policy/contact/upsert":{"put":{"tags":["titan"],"summary":"DEPRECATED: please use 'PUT /titan/policy/contact'","operationId":"PUT/titan/policy/contact/upsert","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"PolicyContactCanonicalPutRequest","in":"body","description":"The Policy Contact Json that we need to use for update/add","required":true,"schema":{"$ref":"#/definitions/PolicyContactCanonicalPutRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"format":"uuid","type":"string","example":"00000000-0000-0000-0000-000000000000"}}}},"deprecated":true}},"/underwriters":{"get":{"tags":["underwriters"],"summary":"Gets all company underwriters","operationId":"GET/underwriters","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"CompanyCode","in":"query","required":false,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/UnderwriterResponse"}}}}}},"/user-permissions":{"get":{"tags":["user-permissions"],"summary":"Gets the collection of authorization items for the current user.","operationId":"GET/user-permissions","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/AuthItemPermissionResponse"}}}}}},"/UserPermissions":{"get":{"tags":["user-permissions"],"summary":"DEPRECATED: please use 'GET /user-permissions'","operationId":"GET/UserPermissions","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/AuthItemPermissionResponse"}}}},"deprecated":true}},"/utility/emp-code-to-seq-number":{"get":{"tags":["utility"],"summary":"Returns a 360 Sequence Number converted from a three character unique code (like '!#^')","operationId":"GET/utility/emp-code-to-seq-number","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"EmpCode","in":"query","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SeqNumberResponse"}}}}},"/utility/EmpCodeToSeqNumber":{"get":{"tags":["utility"],"summary":"DEPRECATED: please use 'GET /utility/emp-code-to-seq-number'","operationId":"GET/utility/EmpCodeToSeqNumber","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"uniqueCode","in":"query","description":"the three character code to convert","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SeqNumberResponse"}}},"deprecated":true}},"/vendors":{"get":{"tags":["vendors"],"summary":"Gets all vendors that are enabled to be shown","operationId":"GET/vendors","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"VendorId","in":"query","required":false,"type":"string","format":"uuid"},{"name":"VendorCode","in":"query","required":false,"type":"string"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/VendorResponse"}}}}}},"/sms/vmb-message":{"post":{"tags":["vmb-messages (sms)"],"summary":"Receives a new incoming message from the VMB.","operationId":"POST/sms/vmb-message","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"IncomingVmbMessagePostRequest","in":"body","description":"The content of the incoming message.","required":true,"schema":{"$ref":"#/definitions/IncomingVmbMessagePostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/IncomingVmbMessageResponse"}}}}},"/sms/vmb-message/update":{"post":{"tags":["vmb-messages (sms)"],"summary":"Sends a status update for a message.","operationId":"POST/sms/vmb-message/update","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"IncomingVmbMessagePostRequest","in":"body","description":"The content of the message to be sent.","required":true,"schema":{"$ref":"#/definitions/IncomingVmbMessagePostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/IncomingVmbMessageResponse"}}}}},"/Sms/VmbMessage":{"post":{"tags":["vmb-messages (sms)"],"summary":"DEPRECATED: please use 'POST /sms/vmb-message'","operationId":"POST/Sms/VmbMessage","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"IncomingVmbMessagePostRequest","in":"body","description":"The content of the incoming message","required":true,"schema":{"$ref":"#/definitions/IncomingVmbMessagePostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/IncomingVmbMessageResponse"}}},"deprecated":true}},"/Sms/VmbMessage/Update":{"post":{"tags":["vmb-messages (sms)"],"summary":"DEPRECATED: please use 'POST sms/vmb-message/update'","operationId":"POST/Sms/VmbMessage/Update","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"IncomingVmbMessagePostRequest","in":"body","description":"The content of the message to be sent.","required":true,"schema":{"$ref":"#/definitions/IncomingVmbMessagePostRequest"}},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/IncomingVmbMessageResponse"}}},"deprecated":true}},"/web-service-logs/wsapi":{"get":{"tags":["web-service-logs"],"summary":"Get filtered WebService Logs for WSAPI","operationId":"GET/web-service-logs/wsapi","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"Skip","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Top","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Version","in":"query","required":false,"type":"string"},{"name":"WebMethod","in":"query","required":false,"type":"string"},{"name":"UserName","in":"query","required":false,"type":"string"},{"name":"SearchTerm","in":"query","required":false,"type":"string"},{"name":"MaxDate","in":"query","required":false,"type":"string","format":"date-time"},{"name":"MinDate","in":"query","required":false,"type":"string","format":"date-time"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageResultResponse[WebServiceLogsResponse]"}}}}},"/GetWebServiceLogs/Wsapi":{"get":{"tags":["web-service-logs"],"summary":"DEPRECATED: please use 'GET /web-service-logs/wsapi'","operationId":"GET/GetWebServiceLogs/Wsapi","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"Skip","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Top","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"JWT Access Token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageResultResponse[WebServiceLogsResponse]"}}},"deprecated":true}},"/GetWebServiceLogs/Wsapi/Search":{"get":{"tags":["web-service-logs"],"summary":"DEPREC
[...]
