package {{package}};

{{> import_statements}}

{{#operations}}
  public class {{classname}} {
  String BASE_PATH_FULL = "{{basePath}}";

  {{#operation}}
public Performable {{operationId}}({{>method_parameters}}) {
Object postBody = {{#bodyParam}}{{paramName}}{{/bodyParam}}{{^bodyParam}}null{{/bodyParam}};

  final HashMap<String, Object> queryParams = new HashMap<String, Object>();
  final HttpHeaders headerParams = new HttpHeaders();
  final LinkedMultiValueMap<String, Object> formParams = new LinkedMultiValueMap<String, Object>();

{{>query_parameters}}
{{>form_parameters}}
{{>consumes}}
    return Task.where("{0}  {{summary}}", actor -> {
{{>path_parameters}}
String hydratedPath = UriComponentsBuilder.fromPath("{{{path}}}"){{#hasPathParams}}.buildAndExpand(uriVariables){{/hasPathParams}}{{^hasPathParams}}.build(){{/hasPathParams}}.toUriString();

    CallTitanApi
    .asUser(actor)
      .contentType(Arrays.toString(contentTypes))
      .queryParams(queryParams){{#allParams}}{{#isBodyParam}}.body(postBody){{/isBodyParam}}{{/allParams}}
      .formParams(formParams)
.{{httpMethod}}(hydratedPath);
});
}
  {{/operation}}
{{/operations}}
}
