package {{package}};

  {{#imports}}import {{import}};
  {{/imports}}
/**
* This class is a throw-away class, it cannot be turned off so we make an empty class.
*/
{{#operations}}
  public class {{classname}}Controller {
{{#operation}}
    {{/operation}}
    }
{{/operations}}