{{#hasFormParams}}
  {{#formParams}}if ({{paramName}} != null)
   formParams.add("{{baseName}}", {{#isFile}}new FileSystemResource((File){{paramName}}){{/isFile}}{{^isFile}}{{paramName}}{{/isFile}});
  {{#hasMore}}
  {{/hasMore}}
  {{/formParams}}
{{/hasFormParams}}
