package {{package}};

import java.util.Objects;
import com.fasterxml.jackson.annotation.JsonFormat;
import org.joda.time.DateTime;
{{#imports}}import {{import}};
import com.fasterxml.jackson.databind.node.ObjectNode;
import com.fasterxml.jackson.databind.JsonNode;
import com.fasterxml.jackson.annotation.JsonIgnoreProperties;

{{/imports}}
import com.fasterxml.jackson.annotation.JsonFormat;

import com.fasterxml.jackson.annotation.JsonInclude;
import static com.fasterxml.jackson.annotation.JsonInclude.Include.NON_NULL;
{{#serializableModel}}
    import java.io.Serializable;
{{/serializableModel}}
{{#jackson}}
{{/jackson}}
{{^parent}}
{{/parent}}

{{#models}}
  {{#model}}
    {{#isEnum}}
      {{>enumOuterClass}}
    {{/isEnum}}
    {{^isEnum}}
      {{>pojo}}
    {{/isEnum}}
  {{/model}}
{{/models}}