package {{package}};

import java.util.Objects;
{{#imports}}import {{import}};
import com.fasterxml.jackson.databind.node.ObjectNode;
{{/imports}}
{{#serializableModel}}
  import java.io.Serializable;
{{/serializableModel}}
{{#jackson}}
{{/jackson}}
{{^parent}}
{{/parent}}

{{#models}}
  {{#model}}
    {{#isEnum}}
      {{>enumOuterClass}}
    {{/isEnum}}
    {{^isEnum}}
      {{>pojo}}
    {{/isEnum}}
  {{/model}}
{{/models}}