/*
 * Authentication Service API
 * Authentication and Authorization
 *
 * OpenAPI spec version: 1
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package apiPackage;

import com.sun.jersey.api.client.GenericType;

import invokerPackage.ApiException;
import invokerPackage.ApiClient;
import invokerPackage.Configuration;
import modelPackage.*;
import invokerPackage.Pair;

import modelPackage.AuthGroupRoleAssignmentV1;
import modelPackage.EmptyResponseV1;
import modelPackage.PagedResponseV1AuthGroupRoleAssignmentV1LimitOffsetPagingInfoV1;
import modelPackage.SingleResponseV1AuthGroupRoleAssignmentV1;


  import java.util.ArrayList;
  import java.util.HashMap;
  import java.util.List;
  import java.util.Map;

@javax.annotation.Generated(value = "io.swagger.codegen.languages.JavaClientCodegen", date = "2020-04-02T00:57:29.075-06:00")
  public class AuthorizationGroupsApi {
  private ApiClient localVariablePrefixapiClient;

  public AuthorizationGroupsApi() {
  this(Configuration.getDefaultApiClient());
  }

  public AuthorizationGroupsApi(ApiClient apiClient) {
  this.localVariablePrefixapiClient = apiClient;
  }

  public ApiClient getApiClient() {
  return localVariablePrefixapiClient;
  }

  public void setApiClient(ApiClient apiClient) {
  this.localVariablePrefixapiClient = apiClient;
  }

    /**
    * List Role assignments for an AuthGroup in a Context
    * Returns Paged AuthGroupRoleAssignmentV1 for the specified Group given the Context provided
      * @param productId ID of the product for which the request is being made (required)
      * @param tenantId ID of the tenant for which the request is being made (required)
      * @param entityId ID of the entity for which the request is being made (required)
      * @param groupId groupId (required)
      * @param pageSize The maximum number of items to include in the response (optional)
      * @param page The page of items to retrieve (optional)
      * @return PagedResponseV1AuthGroupRoleAssignmentV1LimitOffsetPagingInfoV1
    * @throws ApiException if fails to make API call
    */
    public PagedResponseV1AuthGroupRoleAssignmentV1LimitOffsetPagingInfoV1 findRolesForGroupUsingGET(String productId, String tenantId, String entityId, String groupId, Integer pageSize, Integer page) throws ApiException {
    Object localVariablePrefixlocalVarPostBody = null;
    
      // verify the required parameter 'productId' is set
      if (productId == null) {
      throw new ApiException(400, "Missing the required parameter 'productId' when calling findRolesForGroupUsingGET");
      }
    
      // verify the required parameter 'tenantId' is set
      if (tenantId == null) {
      throw new ApiException(400, "Missing the required parameter 'tenantId' when calling findRolesForGroupUsingGET");
      }
    
      // verify the required parameter 'entityId' is set
      if (entityId == null) {
      throw new ApiException(400, "Missing the required parameter 'entityId' when calling findRolesForGroupUsingGET");
      }
    
      // verify the required parameter 'groupId' is set
      if (groupId == null) {
      throw new ApiException(400, "Missing the required parameter 'groupId' when calling findRolesForGroupUsingGET");
      }
    
    // create path and map variables
    String localVariablePrefixlocalVarPath = "/auth/v1/{productId}/{tenantId}/entities/{entityId}/groups/{groupId}/roles{?pageSize,page}"
      .replaceAll("\\{" + "productId" + "\\}", localVariablePrefixapiClient.escapeString(productId.toString()))
      .replaceAll("\\{" + "tenantId" + "\\}", localVariablePrefixapiClient.escapeString(tenantId.toString()))
      .replaceAll("\\{" + "entityId" + "\\}", localVariablePrefixapiClient.escapeString(entityId.toString()))
      .replaceAll("\\{" + "groupId" + "\\}", localVariablePrefixapiClient.escapeString(groupId.toString()));

    // query params
    List<Pair> localVariablePrefixlocalVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVariablePrefixlocalVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVariablePrefixlocalVarHeaderParams = new HashMap<String, String>();
    Map<String, Object> localVariablePrefixlocalVarFormParams = new HashMap<String, Object>();

      localVariablePrefixlocalVarQueryParams.addAll(localVariablePrefixapiClient.parameterToPair("pageSize", pageSize));
      localVariablePrefixlocalVarQueryParams.addAll(localVariablePrefixapiClient.parameterToPair("page", page));

    
    
      final String[] localVariablePrefixlocalVarAccepts = {
    "application/json"
      };
      final String localVariablePrefixlocalVarAccept = localVariablePrefixapiClient.selectHeaderAccept(localVariablePrefixlocalVarAccepts);

      final String[] localVariablePrefixlocalVarContentTypes = {
    "application/json"
      };
      final String localVariablePrefixlocalVarContentType = localVariablePrefixapiClient.selectHeaderContentType(localVariablePrefixlocalVarContentTypes);

      String[] localVariablePrefixlocalVarAuthNames = new String[] {  };

        GenericType<PagedResponseV1AuthGroupRoleAssignmentV1LimitOffsetPagingInfoV1> localVariablePrefixlocalVarReturnType = new GenericType<PagedResponseV1AuthGroupRoleAssignmentV1LimitOffsetPagingInfoV1>() {};
        return localVariablePrefixapiClient.invokeAPI(localVariablePrefixlocalVarPath, "GET", localVariablePrefixlocalVarQueryParams, localVariablePrefixlocalVarCollectionQueryParams, localVariablePrefixlocalVarPostBody, localVariablePrefixlocalVarHeaderParams, localVariablePrefixlocalVarFormParams, localVariablePrefixlocalVarAccept, localVariablePrefixlocalVarContentType, localVariablePrefixlocalVarAuthNames, localVariablePrefixlocalVarReturnType);
          }
    /**
    * Assign a Role to a Group
    * Assigns a Role to an AuthGroupV1 specified by the Context provided
      * @param productId ID of the product for which the request is being made (required)
      * @param tenantId ID of the tenant for which the request is being made (required)
      * @param entityId ID of the entity for which the request is being made (required)
      * @param groupId groupId (required)
      * @param roleId roleId (required)
      * @param authGroupRoleAssignmentV1 A new Auth Group Role Assignment to be created (optional)
      * @return SingleResponseV1AuthGroupRoleAssignmentV1
    * @throws ApiException if fails to make API call
    */
    public SingleResponseV1AuthGroupRoleAssignmentV1 grantRoleUsingPOST(String productId, String tenantId, String entityId, String groupId, String roleId, AuthGroupRoleAssignmentV1 authGroupRoleAssignmentV1) throws ApiException {
    Object localVariablePrefixlocalVarPostBody = authGroupRoleAssignmentV1;
    
      // verify the required parameter 'productId' is set
      if (productId == null) {
      throw new ApiException(400, "Missing the required parameter 'productId' when calling grantRoleUsingPOST");
      }
    
      // verify the required parameter 'tenantId' is set
      if (tenantId == null) {
      throw new ApiException(400, "Missing the required parameter 'tenantId' when calling grantRoleUsingPOST");
      }
    
      // verify the required parameter 'entityId' is set
      if (entityId == null) {
      throw new ApiException(400, "Missing the required parameter 'entityId' when calling grantRoleUsingPOST");
      }
    
      // verify the required parameter 'groupId' is set
      if (groupId == null) {
      throw new ApiException(400, "Missing the required parameter 'groupId' when calling grantRoleUsingPOST");
      }
    
      // verify the required parameter 'roleId' is set
      if (roleId == null) {
      throw new ApiException(400, "Missing the required parameter 'roleId' when calling grantRoleUsingPOST");
      }
    
    // create path and map variables
    String localVariablePrefixlocalVarPath = "/auth/v1/{productId}/{tenantId}/entities/{entityId}/groups/{groupId}/roles/{roleId}"
      .replaceAll("\\{" + "productId" + "\\}", localVariablePrefixapiClient.escapeString(productId.toString()))
      .replaceAll("\\{" + "tenantId" + "\\}", localVariablePrefixapiClient.escapeString(tenantId.toString()))
      .replaceAll("\\{" + "entityId" + "\\}", localVariablePrefixapiClient.escapeString(entityId.toString()))
      .replaceAll("\\{" + "groupId" + "\\}", localVariablePrefixapiClient.escapeString(groupId.toString()))
      .replaceAll("\\{" + "roleId" + "\\}", localVariablePrefixapiClient.escapeString(roleId.toString()));

    // query params
    List<Pair> localVariablePrefixlocalVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVariablePrefixlocalVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVariablePrefixlocalVarHeaderParams = new HashMap<String, String>();
    Map<String, Object> localVariablePrefixlocalVarFormParams = new HashMap<String, Object>();


    
    
      final String[] localVariablePrefixlocalVarAccepts = {
    "application/json"
      };
      final String localVariablePrefixlocalVarAccept = localVariablePrefixapiClient.selectHeaderAccept(localVariablePrefixlocalVarAccepts);

      final String[] localVariablePrefixlocalVarContentTypes = {
    "application/json"
      };
      final String localVariablePrefixlocalVarContentType = localVariablePrefixapiClient.selectHeaderContentType(localVariablePrefixlocalVarContentTypes);

      String[] localVariablePrefixlocalVarAuthNames = new String[] {  };

        GenericType<SingleResponseV1AuthGroupRoleAssignmentV1> localVariablePrefixlocalVarReturnType = new GenericType<SingleResponseV1AuthGroupRoleAssignmentV1>() {};
        return localVariablePrefixapiClient.invokeAPI(localVariablePrefixlocalVarPath, "POST", localVariablePrefixlocalVarQueryParams, localVariablePrefixlocalVarCollectionQueryParams, localVariablePrefixlocalVarPostBody, localVariablePrefixlocalVarHeaderParams, localVariablePrefixlocalVarFormParams, localVariablePrefixlocalVarAccept, localVariablePrefixlocalVarContentType, localVariablePrefixlocalVarAuthNames, localVariablePrefixlocalVarReturnType);
          }
    /**
    * Revoke a Role from a Group
    * Revokes a Role from an AuthGroupV1 specified by the Context provided
      * @param productId ID of the product for which the request is being made (required)
      * @param tenantId ID of the tenant for which the request is being made (required)
      * @param entityId ID of the entity for which the request is being made (required)
      * @param groupId groupId (required)
      * @param roleId roleId (required)
      * @param authGroupRoleAssignmentV1 An Auth Group Role Assignment to be deleted (optional)
      * @return EmptyResponseV1
    * @throws ApiException if fails to make API call
    */
    public EmptyResponseV1 revokeRoleFromUsingDELETE(String productId, String tenantId, String entityId, String groupId, String roleId, AuthGroupRoleAssignmentV1 authGroupRoleAssignmentV1) throws ApiException {
    Object localVariablePrefixlocalVarPostBody = authGroupRoleAssignmentV1;
    
      // verify the required parameter 'productId' is set
      if (productId == null) {
      throw new ApiException(400, "Missing the required parameter 'productId' when calling revokeRoleFromUsingDELETE");
      }
    
      // verify the required parameter 'tenantId' is set
      if (tenantId == null) {
      throw new ApiException(400, "Missing the required parameter 'tenantId' when calling revokeRoleFromUsingDELETE");
      }
    
      // verify the required parameter 'entityId' is set
      if (entityId == null) {
      throw new ApiException(400, "Missing the required parameter 'entityId' when calling revokeRoleFromUsingDELETE");
      }
    
      // verify the required parameter 'groupId' is set
      if (groupId == null) {
      throw new ApiException(400, "Missing the required parameter 'groupId' when calling revokeRoleFromUsingDELETE");
      }
    
      // verify the required parameter 'roleId' is set
      if (roleId == null) {
      throw new ApiException(400, "Missing the required parameter 'roleId' when calling revokeRoleFromUsingDELETE");
      }
    
    // create path and map variables
    String localVariablePrefixlocalVarPath = "/auth/v1/{productId}/{tenantId}/entities/{entityId}/groups/{groupId}/roles/{roleId}"
      .replaceAll("\\{" + "productId" + "\\}", localVariablePrefixapiClient.escapeString(productId.toString()))
      .replaceAll("\\{" + "tenantId" + "\\}", localVariablePrefixapiClient.escapeString(tenantId.toString()))
      .replaceAll("\\{" + "entityId" + "\\}", localVariablePrefixapiClient.escapeString(entityId.toString()))
      .replaceAll("\\{" + "groupId" + "\\}", localVariablePrefixapiClient.escapeString(groupId.toString()))
      .replaceAll("\\{" + "roleId" + "\\}", localVariablePrefixapiClient.escapeString(roleId.toString()));

    // query params
    List<Pair> localVariablePrefixlocalVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVariablePrefixlocalVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVariablePrefixlocalVarHeaderParams = new HashMap<String, String>();
    Map<String, Object> localVariablePrefixlocalVarFormParams = new HashMap<String, Object>();


    
    
      final String[] localVariablePrefixlocalVarAccepts = {
    "application/json"
      };
      final String localVariablePrefixlocalVarAccept = localVariablePrefixapiClient.selectHeaderAccept(localVariablePrefixlocalVarAccepts);

      final String[] localVariablePrefixlocalVarContentTypes = {
    "application/json"
      };
      final String localVariablePrefixlocalVarContentType = localVariablePrefixapiClient.selectHeaderContentType(localVariablePrefixlocalVarContentTypes);

      String[] localVariablePrefixlocalVarAuthNames = new String[] {  };

        GenericType<EmptyResponseV1> localVariablePrefixlocalVarReturnType = new GenericType<EmptyResponseV1>() {};
        return localVariablePrefixapiClient.invokeAPI(localVariablePrefixlocalVarPath, "DELETE", localVariablePrefixlocalVarQueryParams, localVariablePrefixlocalVarCollectionQueryParams, localVariablePrefixlocalVarPostBody, localVariablePrefixlocalVarHeaderParams, localVariablePrefixlocalVarFormParams, localVariablePrefixlocalVarAccept, localVariablePrefixlocalVarContentType, localVariablePrefixlocalVarAuthNames, localVariablePrefixlocalVarReturnType);
          }
    }
