/*
 * Authentication Service API
 * Authentication and Authorization
 *
 * OpenAPI spec version: 1
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package apiPackage;

import com.sun.jersey.api.client.GenericType;

import invokerPackage.ApiException;
import invokerPackage.ApiClient;
import invokerPackage.Configuration;
import modelPackage.*;
import invokerPackage.Pair;

import modelPackage.SingleResponseV1ContextualAuthInfoV1;
import modelPackage.SingleResponseV1Mapstringboolean;


  import java.util.ArrayList;
  import java.util.HashMap;
  import java.util.List;
  import java.util.Map;

@javax.annotation.Generated(value = "io.swagger.codegen.languages.JavaClientCodegen", date = "2020-04-02T00:57:29.075-06:00")
  public class AuthorizationApi {
  private ApiClient localVariablePrefixapiClient;

  public AuthorizationApi() {
  this(Configuration.getDefaultApiClient());
  }

  public AuthorizationApi(ApiClient apiClient) {
  this.localVariablePrefixapiClient = apiClient;
  }

  public ApiClient getApiClient() {
  return localVariablePrefixapiClient;
  }

  public void setApiClient(ApiClient apiClient) {
  this.localVariablePrefixapiClient = apiClient;
  }

    /**
    * Get the authorization information for the user for the Tenant. The entitlements returned can be used to enforce security with User Interfaces and APIs, where they need to see the permissions you hold at ALL levels.
    * Retrieves the entitlements for the requesting user by the context provided and all sub entities.
      * @param productId ID of the product for which the request is being made (required)
      * @param tenantId ID of the tenant for which the request is being made (required)
      * @param entityId ID of the entity for which the request is being made (required)
      * @param serviceName The service to retrieve the entitlements for (required)
      * @return SingleResponseV1ContextualAuthInfoV1
    * @throws ApiException if fails to make API call
    */
    public SingleResponseV1ContextualAuthInfoV1 getContextualAuthPreviewUsingGET(String productId, String tenantId, String entityId, String serviceName) throws ApiException {
    Object localVariablePrefixlocalVarPostBody = null;
    
      // verify the required parameter 'productId' is set
      if (productId == null) {
      throw new ApiException(400, "Missing the required parameter 'productId' when calling getContextualAuthPreviewUsingGET");
      }
    
      // verify the required parameter 'tenantId' is set
      if (tenantId == null) {
      throw new ApiException(400, "Missing the required parameter 'tenantId' when calling getContextualAuthPreviewUsingGET");
      }
    
      // verify the required parameter 'entityId' is set
      if (entityId == null) {
      throw new ApiException(400, "Missing the required parameter 'entityId' when calling getContextualAuthPreviewUsingGET");
      }
    
      // verify the required parameter 'serviceName' is set
      if (serviceName == null) {
      throw new ApiException(400, "Missing the required parameter 'serviceName' when calling getContextualAuthPreviewUsingGET");
      }
    
    // create path and map variables
    String localVariablePrefixlocalVarPath = "/auth/v1/{productId}/{tenantId}/entities/{entityId}/auth-tree/services/{serviceName}"
      .replaceAll("\\{" + "productId" + "\\}", localVariablePrefixapiClient.escapeString(productId.toString()))
      .replaceAll("\\{" + "tenantId" + "\\}", localVariablePrefixapiClient.escapeString(tenantId.toString()))
      .replaceAll("\\{" + "entityId" + "\\}", localVariablePrefixapiClient.escapeString(entityId.toString()))
      .replaceAll("\\{" + "serviceName" + "\\}", localVariablePrefixapiClient.escapeString(serviceName.toString()));

    // query params
    List<Pair> localVariablePrefixlocalVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVariablePrefixlocalVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVariablePrefixlocalVarHeaderParams = new HashMap<String, String>();
    Map<String, Object> localVariablePrefixlocalVarFormParams = new HashMap<String, Object>();


    
    
      final String[] localVariablePrefixlocalVarAccepts = {
    "application/json"
      };
      final String localVariablePrefixlocalVarAccept = localVariablePrefixapiClient.selectHeaderAccept(localVariablePrefixlocalVarAccepts);

      final String[] localVariablePrefixlocalVarContentTypes = {
    "application/json"
      };
      final String localVariablePrefixlocalVarContentType = localVariablePrefixapiClient.selectHeaderContentType(localVariablePrefixlocalVarContentTypes);

      String[] localVariablePrefixlocalVarAuthNames = new String[] {  };

        GenericType<SingleResponseV1ContextualAuthInfoV1> localVariablePrefixlocalVarReturnType = new GenericType<SingleResponseV1ContextualAuthInfoV1>() {};
        return localVariablePrefixapiClient.invokeAPI(localVariablePrefixlocalVarPath, "GET", localVariablePrefixlocalVarQueryParams, localVariablePrefixlocalVarCollectionQueryParams, localVariablePrefixlocalVarPostBody, localVariablePrefixlocalVarHeaderParams, localVariablePrefixlocalVarFormParams, localVariablePrefixlocalVarAccept, localVariablePrefixlocalVarContentType, localVariablePrefixlocalVarAuthNames, localVariablePrefixlocalVarReturnType);
          }
    /**
    * Get the authorization information associated with the context of this request.  The entitlements returned can be used to enforce security in other services
    * Retrieves the entitlements for the requesting user by the context provided.
      * @param productId ID of the product for which the request is being made (required)
      * @param tenantId ID of the tenant for which the request is being made (required)
      * @param entityId ID of the entity for which the request is being made (required)
      * @param serviceName The service to retrieve the entitlements for (required)
      * @return SingleResponseV1ContextualAuthInfoV1
    * @throws ApiException if fails to make API call
    */
    public SingleResponseV1ContextualAuthInfoV1 getContextualAuthUsingGET(String productId, String tenantId, String entityId, String serviceName) throws ApiException {
    Object localVariablePrefixlocalVarPostBody = null;
    
      // verify the required parameter 'productId' is set
      if (productId == null) {
      throw new ApiException(400, "Missing the required parameter 'productId' when calling getContextualAuthUsingGET");
      }
    
      // verify the required parameter 'tenantId' is set
      if (tenantId == null) {
      throw new ApiException(400, "Missing the required parameter 'tenantId' when calling getContextualAuthUsingGET");
      }
    
      // verify the required parameter 'entityId' is set
      if (entityId == null) {
      throw new ApiException(400, "Missing the required parameter 'entityId' when calling getContextualAuthUsingGET");
      }
    
      // verify the required parameter 'serviceName' is set
      if (serviceName == null) {
      throw new ApiException(400, "Missing the required parameter 'serviceName' when calling getContextualAuthUsingGET");
      }
    
    // create path and map variables
    String localVariablePrefixlocalVarPath = "/auth/v1/{productId}/{tenantId}/entities/{entityId}/auth-info/services/{serviceName}"
      .replaceAll("\\{" + "productId" + "\\}", localVariablePrefixapiClient.escapeString(productId.toString()))
      .replaceAll("\\{" + "tenantId" + "\\}", localVariablePrefixapiClient.escapeString(tenantId.toString()))
      .replaceAll("\\{" + "entityId" + "\\}", localVariablePrefixapiClient.escapeString(entityId.toString()))
      .replaceAll("\\{" + "serviceName" + "\\}", localVariablePrefixapiClient.escapeString(serviceName.toString()));

    // query params
    List<Pair> localVariablePrefixlocalVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVariablePrefixlocalVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVariablePrefixlocalVarHeaderParams = new HashMap<String, String>();
    Map<String, Object> localVariablePrefixlocalVarFormParams = new HashMap<String, Object>();


    
    
      final String[] localVariablePrefixlocalVarAccepts = {
    "application/json"
      };
      final String localVariablePrefixlocalVarAccept = localVariablePrefixapiClient.selectHeaderAccept(localVariablePrefixlocalVarAccepts);

      final String[] localVariablePrefixlocalVarContentTypes = {
    "application/json"
      };
      final String localVariablePrefixlocalVarContentType = localVariablePrefixapiClient.selectHeaderContentType(localVariablePrefixlocalVarContentTypes);

      String[] localVariablePrefixlocalVarAuthNames = new String[] {  };

        GenericType<SingleResponseV1ContextualAuthInfoV1> localVariablePrefixlocalVarReturnType = new GenericType<SingleResponseV1ContextualAuthInfoV1>() {};
        return localVariablePrefixapiClient.invokeAPI(localVariablePrefixlocalVarPath, "GET", localVariablePrefixlocalVarQueryParams, localVariablePrefixlocalVarCollectionQueryParams, localVariablePrefixlocalVarPostBody, localVariablePrefixlocalVarHeaderParams, localVariablePrefixlocalVarFormParams, localVariablePrefixlocalVarAccept, localVariablePrefixlocalVarContentType, localVariablePrefixlocalVarAuthNames, localVariablePrefixlocalVarReturnType);
          }
    /**
    * Determine whether user has the entitlement at the given entities.
    * Returns a Map of Entity Ids with a boolean(True or False) depending on whether the specified user has the given entitlement or not.
      * @param productId ID of the product for which the request is being made (required)
      * @param tenantId ID of the tenant for which the request is being made (required)
      * @param entityId ID of the entity for which the request is being made (required)
      * @param entitlement Entitlement to check (required)
      * @param userId User Id (required)
      * @param filter  (required)
      * @param entityIds List of Entities (optional)
      * @return SingleResponseV1Mapstringboolean
    * @throws ApiException if fails to make API call
    */
    public SingleResponseV1Mapstringboolean getEntityIdsForEntitlementUsingGET(String productId, String tenantId, String entityId, String entitlement, String userId, String filter, List<String> entityIds) throws ApiException {
    Object localVariablePrefixlocalVarPostBody = null;
    
      // verify the required parameter 'productId' is set
      if (productId == null) {
      throw new ApiException(400, "Missing the required parameter 'productId' when calling getEntityIdsForEntitlementUsingGET");
      }
    
      // verify the required parameter 'tenantId' is set
      if (tenantId == null) {
      throw new ApiException(400, "Missing the required parameter 'tenantId' when calling getEntityIdsForEntitlementUsingGET");
      }
    
      // verify the required parameter 'entityId' is set
      if (entityId == null) {
      throw new ApiException(400, "Missing the required parameter 'entityId' when calling getEntityIdsForEntitlementUsingGET");
      }
    
      // verify the required parameter 'entitlement' is set
      if (entitlement == null) {
      throw new ApiException(400, "Missing the required parameter 'entitlement' when calling getEntityIdsForEntitlementUsingGET");
      }
    
      // verify the required parameter 'userId' is set
      if (userId == null) {
      throw new ApiException(400, "Missing the required parameter 'userId' when calling getEntityIdsForEntitlementUsingGET");
      }
    
      // verify the required parameter 'filter' is set
      if (filter == null) {
      throw new ApiException(400, "Missing the required parameter 'filter' when calling getEntityIdsForEntitlementUsingGET");
      }
    
    // create path and map variables
    String localVariablePrefixlocalVarPath = "/auth/v1/{productId}/{tenantId}/entities/{entityId}/entities?filter=byEntitlement{&entityIds,entitlement,userId}"
      .replaceAll("\\{" + "productId" + "\\}", localVariablePrefixapiClient.escapeString(productId.toString()))
      .replaceAll("\\{" + "tenantId" + "\\}", localVariablePrefixapiClient.escapeString(tenantId.toString()))
      .replaceAll("\\{" + "entityId" + "\\}", localVariablePrefixapiClient.escapeString(entityId.toString()));

    // query params
    List<Pair> localVariablePrefixlocalVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVariablePrefixlocalVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVariablePrefixlocalVarHeaderParams = new HashMap<String, String>();
    Map<String, Object> localVariablePrefixlocalVarFormParams = new HashMap<String, Object>();

      localVariablePrefixlocalVarCollectionQueryParams.addAll(localVariablePrefixapiClient.parameterToPairs("multi", "entityIds", entityIds));
      localVariablePrefixlocalVarQueryParams.addAll(localVariablePrefixapiClient.parameterToPair("entitlement", entitlement));
      localVariablePrefixlocalVarQueryParams.addAll(localVariablePrefixapiClient.parameterToPair("userId", userId));
      localVariablePrefixlocalVarQueryParams.addAll(localVariablePrefixapiClient.parameterToPair("filter", filter));

    
    
      final String[] localVariablePrefixlocalVarAccepts = {
    "application/json"
      };
      final String localVariablePrefixlocalVarAccept = localVariablePrefixapiClient.selectHeaderAccept(localVariablePrefixlocalVarAccepts);

      final String[] localVariablePrefixlocalVarContentTypes = {
    "application/json"
      };
      final String localVariablePrefixlocalVarContentType = localVariablePrefixapiClient.selectHeaderContentType(localVariablePrefixlocalVarContentTypes);

      String[] localVariablePrefixlocalVarAuthNames = new String[] {  };

        GenericType<SingleResponseV1Mapstringboolean> localVariablePrefixlocalVarReturnType = new GenericType<SingleResponseV1Mapstringboolean>() {};
        return localVariablePrefixapiClient.invokeAPI(localVariablePrefixlocalVarPath, "GET", localVariablePrefixlocalVarQueryParams, localVariablePrefixlocalVarCollectionQueryParams, localVariablePrefixlocalVarPostBody, localVariablePrefixlocalVarHeaderParams, localVariablePrefixlocalVarFormParams, localVariablePrefixlocalVarAccept, localVariablePrefixlocalVarContentType, localVariablePrefixlocalVarAuthNames, localVariablePrefixlocalVarReturnType);
          }
    }
